{% extends "base.html" %}
{% block title_matter %}L10n repositories status{% endblock %}
{% block head_matter %}
{% endblock %}
{% block content %}
<table cellpadding="10" border="1" cellspacing="0">
  <thead>
    <tr><th>locale</th><th>silence</th><th>users</th></tr>
  </thead>
  <tbody valign="top">
    {% for r in items %}
    <tr>
      <td>{{r.label}}</td>
      <td>{{r.lastpush}}</td>
      <td>{% for user in r.users %}{{user}}<br>{% endfor %}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}