{% extends "base.html" %}
{% load simile %}
{% block title_matter %}Localization bugs{% endblock %}
{% block head_matter %}
{% exhibit %}
<script type="application/javascript">
var apibase = 'https://api-dev.bugzilla.mozilla.org/0.6/';
$(document).ready(function() {
  function countBugs(data) {
    var count = 0, comps = data.data.length;
    var o = {properties:{count:{valueType:"number"}}}, items = [];
    for (var i=0; i < comps; ++i) {
      var _comp = data.x_labels[i];
      var _count = Number(data.data[i]);
      items.push({id: _comp.split(" ")[0],label:_comp,count:_count});
      count += _count;
    }
    $('#nob').text(count);
    $('#noc').text(comps);
    o.items = items;
    window.database.loadData(o);
  };
  var params = {
    product:"Mozilla Localizations",
    "field0-0-0": "component",
    "type0-0-0": "regexp",
    "value0-0-0": "^[a-z]{2,3}[ \-]",
    resolution: "---",
    x_axis_field:"component"
  };
  $.getJSON(apibase+'count', params, countBugs);
});
</script>
{% endblock %}
{% block content %}
<h1>Localization bugs</h1>
<p id="nob_div">There are currently <a href="https://bugzilla.mozilla.org/buglist.cgi?field0-0-0=component;resolution=---;type0-0-0=regexp;value0-0-0=^[a-z]{2%2C3}[%20\-];product=Mozilla%20Localizations"><span
id="nob">?</span></a> open Mozilla Localization bugs in <span
id="noc">?</span> components.</div>
<div style="float:right;width:10em;">
  <em>Search:</em>
  <div ex:role="facet" 
   ex:facetClass="TextSearch"
   ex:expressions=".label">
 </div>
 </div>
<div ex:role="view" ex:viewClass="Tabular" style="margin-right:11em;"
  ex:showToolbox="false" ex:showSummary="false"
  ex:paginate="true" ex:pagingControlLocations="bottom" ex:pageSize="10"
  ex:cellSpacing="0" sortColumn="1" sortAscending="false"
  ex:columns=".label, .count" ex:columnLabels="Component, Bugs">
  <table>
    <tr>
      <td><a target="_blank"
        ex:href-subcontent="https://bugzilla.mozilla.org/buglist.cgi?component={&#123.label}}&resolution=---&columnlist=assigned_to%2Cshort_desc%2Cchangeddate"
        ex:content=".label"></a></td>
        <td ex:content=".count"></td>
    </tr>
  </table>  
</div>

<div>You can file a suite of bugs for a set of localizations with the
  <a href="{% url bugsy.views.file_bugs %}">bug helper</a>.</div>
{% endblock %}
