{% extends "base.html" %}
{% load simile %}
{% block title_matter %}{{ tree }} l10n stats{% endblock %}
{% block head_matter %}

{% timeplot autoCreate=false %}

<script type="text/javascript">
var timeplot, timeGeometry;
var loc_data = [
{% for item in data %}
    {time: SimileAjax.DateTime.parseIso8601DateTime("{{item.srctime.isoformat }}Z"),
     locales: {{ item.locales|safe }}
    },{% endfor %}
  ];
var locales = [];
var localesSource, changesSource;
function onLoad() {
  var theme = Timeline.ClassicTheme.create();
  theme.event.bubble.width = 50;
  theme.event.bubble.height = 50; 
  localesSource = new Timeplot.DefaultEventSource();
  changesSource = new Timeplot.DefaultEventSource();
  timeGeometry = new Timeplot.MagnifyingTimeGeometry({
    gridColor: new Timeplot.Color("#000000"),
    axisLabelsPlacement: "top",
    min: "{{ startTime.isoformat }}Z",
    max: "{{ endTime.isoformat }}Z"
  });

  var valueGeometry = new Timeplot.DefaultValueGeometry({
    gridColor: "#000000",
    min: 0
  });
  var plotInfo = [
    Timeplot.createPlotInfo({
      id: "checkins",
      timeGeometry: timeGeometry,
      eventSource: changesSource,
      lineColor: "blue",
      theme: theme
    }),
    Timeplot.createPlotInfo({
      id: "bad",
      dataSource: new Timeplot.ColumnSource(localesSource,1),
      valueGeometry: valueGeometry,
      timeGeometry: timeGeometry,      
      lineColor: "#000000",
      fillColor: "#808080",
      flat: true,
      showValues: true
    }),
    Timeplot.createPlotInfo({
      id: "good",
      dataSource: new Timeplot.ColumnSource(localesSource,2),
      valueGeometry: valueGeometry,
      timeGeometry: timeGeometry,      
      lineColor: "#ff0000",
      fillColor: "rgba(204, 128, 128, .5)",
      flat: true,
      showValues: true
    })
  ];
            
  timeplot = Timeplot.create(document.getElementById("my-timeplot"), plotInfo);
  var i=0;
  var good = total = 0;
  var latest = {};
  for (var loc in loc_data[i].locales) {
    total += 1;
    locales.push(loc);
    latest[loc] = loc_data[i].locales[loc] ? false : true;
    if (latest[loc]) {
      good += 1;
    }
  }
  var NE = Timeplot.DefaultEventSource.NumericEvent;
  var E = Timeline.DefaultEventSource.Event;
  var locEvents = [new NE(loc_data[i].time,[good, total-good])];
  var changeEvents = [];
  for (var i=1; i<loc_data.length; ++i) {
    var loclist = [];
    for (var loc in loc_data[i].locales) {
      isGood = loc_data[i].locales[loc] ? false : true;
      if (isGood != latest[loc]) {
        good += isGood ? 1 : -1;
        loclist.push(loc);
        latest[loc] = isGood;
      }
    }
    if (loclist.length) {
      loclist.sort();
      changeEvents.push(new E({start: loc_data[i].time,
                              description: loclist.join(" "),
                               instant: false}));
    }
    locEvents.push(new NE(loc_data[i].time,[good, total-good]));
  }
  locEvents.push(new NE(SimileAjax.DateTime.parseIso8601DateTime("{{ endTime.isoformat }}Z"), [good, total-good]));
  localesSource.addMany(locEvents);
  changesSource.addMany(changeEvents);
  timeplot.repaint();    
}

var resizeTimerID = null;
function onResize() {
    if (resizeTimerID == null) {
        resizeTimerID = window.setTimeout(function() {
            resizeTimerID = null;
            timeplot.repaint();
        }, 100);
    }
}

$(document).ready(onLoad);
$(window).resize(onResize);
</script>
{% endblock %}
{% block content %}
<h1>Statistics for {{ tree }}</h1>
<p>Green locales vs red over time</p>
<div id="my-timeplot" style="height: 400px;"></div>
<div class="legend" style="float:right">
  red area: locales with missing strings<br>
  black area: good locales
</div>
<div id="events" style="display:none">
<data date-time-format="iso8601">
</data>
</div>
{% endblock %}
