{% extends "base.html" %}
<!-- {% comment %}
   - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/.
{% endcomment %} -->
{% load compress %}
{% load url from future %}
{% block title_matter %}Mozilla Localization{% endblock %}
{% block body_tag %}id="home"{% endblock %}

{% block head_matter %}
{% compress css %}
<link rel="stylesheet" href="{{ STATIC_URL }}homepage/css/index.css" type="text/css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/chosen/chosen.css" />
{% endcompress %}
{% endblock %}

{% block javascript_matter %}
<script src="{{ STATIC_URL }}js/libs/chosen.jquery.js"></script>
<script src="{{ STATIC_URL }}homepage/js/index.js"></script>
{% endblock %}

{% block alt_header %}
<hgroup id="main-feature">
  <h1 class="large">Mozilla in your language</h1>
</hgroup>
{% endblock %}

{% block content %}
<section class="container introduction">
    <video
        class="mozilla-video-shadow"
        width="580"
        height="326"
        poster="{{ STATIC_URL }}/img/poster.jpg"
        controls="controls"
    >
        <source src="//videos-cdn.mozilla.net/serv/drafts/FFxGlobal.webm" type="video/webm" />
        <source src="//videos-cdn.mozilla.net/serv/drafts/FFxGlobal.mp4" type="video/mp4" />
    </video>
    <article>
        <h2>Users first, no matter where they are.</h2>
        <p>Mozilla's translation and localization (l10n) efforts spread Firefox and the web throughout the world.</p>
        <p>No matter your language, technical skill, or education, there are many ways you can help us put users first in your corner of the world.</p>
        <a class="button arrow" href="https://wiki.mozilla.org/L10n:Contribute"><span>Get Involved</span></a>
    </article>
</section>

<section class="container content">
    <article>
        <h2>Projects we localize</h2>
        <p>These are some of the projects translation and localization contributors work on:</p>
        <ul>
            <li>Mozilla products, like Firefox</li>
            <li>Mozilla websites, services, and <br />marketing campaigns</li>
            <li>SUMO product support documentation</li>
            <li>MDN developer documentation</li>
        </ul>
    </article>
    <article>
        <h2>L10n Teams</h2>
        <p>We speak 90+ languages, how about you?</p>
        <p>Search for your language below to see what your l10n team is working on:</p>
        <select data-placeholder="Choose a team...">
            <option></option>
            {% for loc in locales %}
            <option value="{{ loc.code|lower }}">{% if loc.name %}{{loc.name}}{% else %}{{loc.code}}{% endif %}</option>
            {% endfor %}
        </select>
    </article>
    <article>
        <h2>L10n Discussion</h2>
        <ul class="blog-links">
            {% for item in feed_items %}
            <li><a href="{{ item.url }}">{{ item.title|truncatewords:8 }}</a></li>
            {% endfor %}
            <li><a href="https://blog.mozilla.org/l10n/">See all news</a></li>
        </ul>
    </article>
</section>
{% endblock %}
