{% extends "base.html" %}
<!-- {% comment %}
   - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/.
{% endcomment %} -->
{% load compress %}
{% load staticfiles %}
{% block title_matter %}Mozilla Localization Team {{ locale.name }}{% endblock %}
{% block javascript_matter %}
<script>
var LOCALE_CODE = '{{ locale.code }}';
</script>
{% compress js %}
<script src="{% static "bugsy/js/bugcount.js" %}"></script>
<script src="{% static "js/libs/jquery-migrate-1.2.1.min.js" %}"></script>
<script src="{% static "js/libs/jquery.thead-1.1.min.js" %}"></script>
<script src="{% static "shipping/js/team-page.js" %}"></script>
{% endcompress %}
{% endblock %}

{% block head_matter %}
{% compress css %}
<link rel="stylesheet" href="{% static "homepage/css/locale-team.css" %}" type="text/css">
<link rel="stylesheet" href="{% static "shipping/css/dashboard.css" %}" type="text/css">
<link rel="stylesheet" href="{% static "shipping/css/snippet.css" %}" type="text/css">
<link rel="stylesheet" href="{% static "css/open-iconic.css" %}" type="text/css">
{% endcompress %}
<link rel="stylesheet" href="{% url "progress-layout" %}" type="text/css">
<link rel="lazy-stylesheet" href="{% url "progress-css" %}" type="text/css">
{% endblock %}

{% block alt_header %}
<hgroup id="main-feature">
  <h1 class="large">{{ locale.name }} <span class="lang">({{ locale.code }})</span></h1>
  <h2>Localization Team</h2>
</hgroup>
{% endblock %}

{% block breadcrumbs %}
<nav id="products-nav" class="menu-bar billboard">
  <ul>
    {% if shipping %}
    <li><a href="#applications">Applications &amp; Sign-offs</a></li>
    {% endif %}
    <li><a href="#bugzilla">Bugzilla</a></li>
    <li><a href="https://wiki.mozilla.org/L10n:Teams:{{locale.code}}" class="external-link">Contact</a></li>
  </ul>
</nav>
{% endblock %}

{% block content %}

{% include shipping.template with context=shipping.context only %}

{% include bugs.template with context=bugs.context only %}

{% endblock %}
