{% extends "base.html" %}
<!-- {% comment %}
   - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/.
{% endcomment %} -->
{% load compress %}
{% block title_matter %}Mozilla Localization Team {{ locale.name }}{% endblock %}
{% block javascript_matter %}
<script>
var WEBDASHBOARD_URL = '{{ webdashboard_url }}';
var LOCALE_CODE = '{{ locale.code }}';
</script>
{% compress js %}
<script src="{{ STATIC_URL }}bugsy/js/bugcount.js"></script>
<script src="{{ STATIC_URL }}homepage/js/webdashboard.js"></script>
{% endcompress %}
{% endblock %}

{% block head_matter %}
{% compress css %}
<link rel="stylesheet" href="{{ STATIC_URL }}homepage/css/locale-team.css" type="text/css">
<link rel="stylesheet" href="{{ STATIC_URL }}shipping/css/dashboard.css" type="text/css">
<link rel="stylesheet" href="{{ STATIC_URL }}shipping/css/snippet.css" type="text/css">
{% endcompress %}
{% endblock %}

{% block alt_header %}
<hgroup id="main-feature">
  <h1 class="large">{{ locale.name }} <span class="lang">({{ locale.code }})</span></h1>
  <h2>Localization Team</h2>
</hgroup>
{% endblock %}

{% block breadcrumbs %}
<nav id="products-nav" class="menu-bar billboard">
  <ul>
    {% if shipping %}
    <li><a href="#applications">Applications &amp; Sign-offs</a></li>
    {% endif %}
    <li><a href="#bugzilla">Bugzilla</a></li>
    <li><a href="#webdashboard">Web Dashboard</a></li>
    <li><a href="https://wiki.mozilla.org/L10n:Teams:{{locale.code}}" class="external-link">Contact</a></li>
    {% if verbatim_url %}
    <li><a href="{{ verbatim_url }}" class="external-link">Verbatim</a></li>
    {% endif %}
  </ul>
</nav>
{% endblock %}

{% block content %}

{{ shipping }}

{{ bugs }}

<div id="webdashboard">
<p class="rss-icon-outer" style="float:right"><a href="{{ webdashboard_url }}?locale={{ locale.code }}"><img src="{{ STATIC_URL }}img/icons/feed.png" alt="Subscribe to our feed"></a></p>
<h2>Web Dashboard <a href="#webdashboard" class="permalink">#</a></h2>

<p class="intro">The team's work on the <a href="http://www.mozilla.org/{{ locale.code }}/">mozilla.org website</a>
is tracked on the <a href="{{ webdashboard_url }}?locale={{ locale.code }}">Web Dashboard</a>.
<a href="http://viewvc.svn.mozilla.org/vc/projects/mozilla.com/trunk/{{ locale.code }}/">The sources</a> are in SVN,
you can check the current status on the <a href="https://www-dev.allizom.org/{{ locale.code }}/">team's staging site</a>.</p>

  <div class="loading">
    <p><em>Please wait, loading Web Dashboard feed...</em></p>
  </div>

  <div class="failed" style="display:none">
    <p><em><strong>Sorry.</strong><br>
       Unable to load the Web Dashboard feed.</em></p>
  </div>

  <div class="not-found" style="display:none">
    <p><em><strong>Sorry.</strong><br>
       The <strong>{{ locale.name }} ({{ locale.code }})</strong> locale is not available on the Web Dashboard.</em></p>
  </div>


<table class="standard trees" style="display:none">
</table>
</div>


{% endblock %}
