{% extends "base.html" %}
<!-- {% comment %}
   - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/.
{% endcomment %} -->
{% load compress %}
{% load url from future %}
{% block title_matter %}Mozilla Localization Teams{% endblock %}

{% block head_matter %}
{% compress css %}
<link rel="stylesheet" href="{{ STATIC_URL }}homepage/css/teams.css" type="text/css">
{% endcompress %}
{% endblock %}

{% block javascript_matter %}
{% compress js %}
<script src="{{ STATIC_URL }}homepage/js/teams.js"></script>
{% endcompress %}
{% endblock %}

{% block alt_header %}
<hgroup id="main-feature">
  <h1 class="large">Localization Teams</h1>
  <h2>Find the different localization teams<br/>and the projects they work on on the pages beneath.</h2>
</hgroup>
{% endblock %}

{% block content %}
<p class="highlight"><em>Don't find your Language?</em> You may want to check the list of
<a href="https://wiki.mozilla.org/L10n:Teams">existing and upcoming teams</a> on our wiki, or
<a href="https://developer.mozilla.org/en/Localization_Quick_Start_Guide">start a new localization</a>.</p>
<p>Search for name or locale code: <input type="text" id="id_locale_code"></p>
<ul id="teams">{% for loc in locales %}
  <li class="{{ loc.code|lower }} {{ loc.name|lower|default:"" }}"><a href="{% url 'homepage.views.locale_team' loc.code %}">
  {% if loc.name %}{{loc.name}}{% else %}{{loc.code}}{% endif %}</a>
  </li>
{% endfor %}
</ul>
{% endblock %}
