/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

div.buglink {
  float: left;
  padding: 2px;
}
#show-extra-fields small {
  color: blue;
  padding: 2px 3px;
  background-color: #eee;
}
#show-extra-fields small:hover {
  cursor: pointer;
}
#bugdetails:not(.expanded) .extra-field {
  display: none;
}

#bugdetails.expanded #show-extra-fields {
  display: none;
}
