/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.json-child {
  padding-left:1em;
}
.diff {
  padding-left:.5em;
  margin-left:1em;
  border:solid black 1px;
}
.obsoleteFile {
  text-decoration: line-through;
  color: grey;
}
.error {
  color: #990000;
  font-weight: bolder;
}
.warning {
  color: #FF6600;
  font-weight: bolder;
}
.obsolete {
  text-decoration: line-through;
  color: grey;
}
.next-marker {
  float: right;
  margin-right: 1ex;
}
.no-underline:hover, .no-underline:focus, .no-underline:active {
  text-decoration: none;
}
#stats {
  cell-padding:0px;
  border-spacing:0px;
  padding: 16px 0;
  border-bottom: 1px solid #CCC;
  border-top: 1px solid #CCC;
  margin-bottom: 20px;
}
#stats p{
  margin: 0;
}
#stats table{
  margin: 3px 0;
}
.status {
  height: 2ex;
  margin:0px;
  padding:0px;
  border:0px
}
.changed {background-color: green;}
.unchanged {background-color: grey;}
.missingkeys {background-color: red;}
