/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.hist.graph {
    vertical-align: bottom;
    white-space: nowrap;
}

.spark {
    display: inline-block;
    border: 1px solid rgb(170, 170, 170);
    background: rgb(204, 204, 204);
}

.hist.desc {
    text-align: center;
    font-size: small;
}

.hist.graph td, .hist.desc td {
    padding: 1px 5px 1px;
}

td:nth-child(odd) {
    background-color: #E6E6E6;
}

#percentile {
    height: 400px;
}

.legend {
    margin-top: 10px;
}

.tooltip {
    background-color: white;
    background-image: none;
    box-shadow: 0 0 2px black;
    color: black;
    display: none;
    font-weight: normal;
    position: absolute;
    text-align: left;
    text-shadow: none;
}
.tooltip:after {
    content: none;
}
.tooltip div {
    display: table;
}
.tooltip div > p {
    display: table-row;
}
.tooltip div > p > span {
    display: table-cell;
    padding: 2px 10px;
}

.tooltip a:not(:first-child):before {
    content: ", ";
}
.tooltip:not(:hover) .clipping .clip {
    display: none;
}
.tooltip:not(:hover) .clipping > span:after {
    content: "…";
}

.top_locales {
    stroke: darkgrey;
    stroke-width: 1.5px;
    fill: none;
}
