/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.hist_block {
    width: 100%;
    height: 100px;
    font-size: small;
    position: relative;
}

.bar {
    position: absolute;
    border-bottom-width: 0;
    border: 1px solid rgb(170, 170, 170);
    background: rgb(204, 204, 204);
}

.hist.desc {
    text-align: center;
    font-size: small;
}

.hist.graph td, .hist.desc td {
    padding: 1px 5px 1px;
}

td:nth-child(even) {
    background-color: #E6E6E6;
}

#my-timeplot {
    height: 400px;
}

.legend {
    float: right;
    margin-top: 10px;
}

#histogram {
    margin-bottom: 20px;
    height: auto;
    clear: right;
}

#histogram table {
    width: auto;
}
