<!-- {% comment %}
   - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/.
{% endcomment %} -->
{% load url from future %}

<form {% if not form.errors %}style="display:none"{% endif %} class="site_login" method="post" action="{% url 'accounts.views.login' %}">
    <section class="login">
        <div style="display:none"><input type="hidden" name="next" value=""></div>

        {% for field in form %}
        <label>
        {{ field }}
        {% if field.error %}<div class="error">{{ field.error }}</div>{% endif %}
        {% if form.non_field_errors and not forloop.first %}
          {# deal with the most common error once in association with the username #}
          <div class="error">
          {% for error in form.non_field_errors %}
          {{ error }}
          {% endfor %}
          </div>
        {% endif %}

        </label>
        {% endfor %}

        <button type="submit" class="button">Log in</button>

        <div class="site_login_error error" style="display:none">
            <p><strong>Server Error</strong></p>
            <p class="message">Unable to complete the log in request. Try again a little later.</p>
        </div>
    </section>

    <section class="logout" style="display:none">
        <button class="button" data-href="{% url 'accounts.views.logout' %}">Log out</button>
    </section>
</form>
