<!-- {% comment %}
   - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/.
{% endcomment %} -->

<form {% if not form.errors %}style="display:none"{% endif %} class="site_login" method="post" action="{% url accounts.views.login %}">{% csrf_token %}
<div style="display:none"><input type="hidden" name="next" value=""></div>


{% for field in form %}
<label>
{{ field }}
{% if field.error %}<span class="error">{{ field.error }}</span>{% endif %}
{% if form.non_field_errors and forloop.first %}
  {# deal with the most common error once in association with the username #}
  <span class="error">
  {% for error in form.non_field_errors %}
  {{ error }}
  {% endfor %}
  </span>
{% endif %}

</label>
{% endfor %}
<button type="submit" class="button">OK</button>
</form>
