<!-- {% comment %}
   - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/.
{% endcomment %} -->

{% load url from future %}

<a class="site_login" href="#login">Log in</a>
<a class="site_logout logout" style="display:none" href="#logout">Hello, <span class="username"></span></a>

{% with login_form as form %}
{% include "accounts/login_form.html" %}
{% endwith %}
