<!-- {% comment %}
   - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/.
{% endcomment %} -->

<a class="site_login" href="#login">Log in</a>

<p class="site_login_error" style="display:none">
<strong>Server Error!</strong><br>
Unable to complete the log in request. Try again a little later.
</p>

{% with login_form as form %}
{% include "accounts/login_form.html" %}
{% endwith %}

<div class="site_logout" style="display:none">
  Hello, <span class="username"></span>.
  <a class="logout" href="{% url accounts.views.logout %}">Log out</a>
</div>
