/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

dl#steps > dd {
  margin-left: 40px;
}

dl#steps {
  margin: 15px 0;
}

/* override the defaults from Sandstone */
dl#steps dt {
  font: inherit;
  letter-spacing: 0;
}
