/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */
 
.success {
    background-color: green;
}
.warning {
    background-color: orange;
}
.failure {
    background-color: red;
}
.skip {
    background-color: yellow;
}
.except {
    background-color: purple;
}
.buildbox {
    float: left; 
    padding: 0.25em; 
    margin: 0.25em;
}
.stamp {
    clear: left; 
}
.changes {
    background-color: lightgrey; 
    padding: 0.25em;
}
.who {
    background-color: lightgrey; 
    padding: 0.25em;
}
.top {
    border-radius-topleft: 10px;
}
.bottom {
    border-radius-bottomleft: 10px;
}
