/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.success {background-color: rgba(0, 128, 0, 0.5);}
.warning {background-color: rgba(255, 165, 0, 0.5);}
.failure {background-color: rgba(255, 0, 0, 0.5);}
.skip {background-color: yellow;}
.running {background-color: yellow;}
.except {background-color: purple;}
td.build {min-height: 1em;}
td.step {min-height: 1em;}
td.white {vertical-align: bottom;}
table#water {empty-cells: show; }
table#water td {border: 1px solid #666;}
td {padding: 0.25em;}
th {padding: 0.25em;}
td.started {padding: 0px}
