/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#add td {
  width: 50%;
  vertical-align: top;
}
#policy {
  border: solid grey;
  padding: .5em;
  overflow: auto;
}
#preview {
  height: 2em;
}
.pending {
  opacity: 0.7;
}


#policy p {
  margin:1em 0;
}
#policy p.intro {
  font-style: italic;
}

table#policy_versions {
  border: solid black 1px;
  border-spacing: 0px;
  border-collapse: collapse;
  empty-cells: show;
  width: 100%;
}
table#policy_versions th, table#policy_versions td {
  border: solid black 1px;
  padding: 2px;
}
#policy_versions td {
  background-image: -moz-linear-gradient(white, #eee);
}

.notice {
  padding: 2em;
}
.notice > span {
  border: solid red;
  border-radius: 2em;
  padding: 2em;
}
#policy {
  margin-left: 1em;
}
#policy p {
  margin:1em 0;
}
#policy p.intro {
  font-style: italic;
}
