{% extends "base.html" %}
<!-- {% comment %}
   - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/.
{% endcomment %} -->
{% load url from future %}
{% load compress %}
{% block title_matter %}Pushes{% endblock %}
{% block head_matter %}

{% compress css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.ui/smoothness/jquery-ui-1.10.3.custom.css" type="text/css">
{% endcompress %}

<style type="text/css">
table.ui-widget {padding: 0px;}
</style>
<style type="text/css" title="diffstuff">
.diff_active {
  display: none;
}
.hidediff .diff_active {
  display: none;
}
.diff_tofrom {
  display: none;
}
</style>
{% endblock %}
{% block javascript_matter %}
<script src="{{ STATIC_URL }}js/jquery.ui/jquery-ui-1.10.3.custom.min.js"></script>
<script>
var SEARCH = {
  FROM: {% if search.from %}'{{ search.from }}'{% else %}null{% endif %}
, UNTIL: {% if search.until %}'{{ search.until }}'{% else %}null{% endif %}
};
var DIFF_APP_URL = '{% url 'pushes.views.diff' %}';
</script>
{% compress js %}
<script type="text/javascript" src="{{ STATIC_URL }}pushes/js/widgets.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}pushes/js/pushlog.js"></script>
{% endcompress %}
{% endblock %}

{% block content %}
<button type="button" class="ui-state-default ui-corner-all" id="search">Search &hellip;</button>
<div id="searchpane" style="display:none;" title="search pushlogs">
  <form action="#" method="get">
    <input type="hidden" id="i_from" {% if timespan %}value="{{timespan.0}}"{% endif %}>
    <input type="hidden" id="i_until" {% if timespan %}value="{{timespan.01}}"{% endif %}>
  <table>
    <tbody id="searchrows">
      <tr>
	<td><button type="button" id="b_limit">Limit</button></td>
	<td class="ui-widget"><input name="length" type="text" size="3" maxlength="3" value="{% if limit %}{{limit}}{% else %}50{% endif %}"></td>
      </tr>
      <tr>
	<td><button type="button" id="b_from">From</button></td>
	<td>&hellip;</td>
      </tr>
      <tr>
	<td><button type="button" id="b_until">Until</button></td>
	<td>&hellip;</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
	<td></td>
	<td>
	  <select size="1" onchange="addSearch(this)">
	    <option>and&hellip;</option>
	    <option id="search_files">file paths</option>
	    <option id="search_repos">repository names</option>
	  </select>
	</td>
      </tr>
    </tfoot>
  </table>
  </form>
</div>
{% if pushes %}
    <table class="standard">
      <thead>
	<tr>
	  <th>User<br />Date</th>
	  <th>Repository</th>
	  <th>Changeset</th>
	  <th>Author &mdash; Description</th>
          <th id="difffrom">Diff<span class="diff_active"> from</span></th>
          <th id="diffto" class="diff_active">to</td>
	</tr>
	</thead>
	<tbody>
	  {% for push in pushes %}
	  <tr class="{{push.class}}" repo="{{push.push.repository.name}}">
	    <td rowspan="{{push.span}}"><cite>{{push.push.user}}<br /><span class="date">{{push.push.push_date}}</span></cite></td>
	    <td rowspan="{{push.span}}"><a href="{% url 'pushes.views.pushlog' %}{{push.push.repository.name}}">{{push.push.repository.name}}</a></td>
	    <td class="age">
	      <a href="{{push.push.repository.url}}rev/{{push.tip.revision|slice:":12"}}"
	      target="_blank">
	      {{push.tip.revision|slice:":12"}}
	      </a>
	    </td>
	    <td>
	    <strong>{{push.tip.user}} &mdash;
	      {{push.tip.description}}</strong>
	    </td>
            <td><input type="radio" name="from"
              onchange="show_diffs('{{push.push.repository.name}}',this);"
              value="{{push.tip.revision|slice:":12"}}"></td>
            <td class="diff_active">
              <input type="button" name="to" value="diff"
              onclick="doDiff(this)"
              rev="{{push.tip.revision|slice:":12"}}"></td>
	  </tr>
	  {% for change in push.changesets %}
	  <tr class="{{push.class}}" repo="{{push.push.repository.name}}">
	    <td class="age">
	      <a href="{{push.push.repository.url}}rev/{{change.revision|slice:":12"}}"
	      target="_blank">
	      {{change.revision|slice:":12"}}
	      </a>
	    </td>
	    <td>
	    <strong>{{change.user}} &mdash;
	      {{change.description}}</strong>
	    </td>
            <td><input type="radio" name="from"
              onchange="show_diffs('{{push.push.repository.name}}', this);"
              value="{{change.revision|slice:":12"}}"></td>
            <td class="diff_active">
              <input type="button" name="to" value="diff"
              onclick="doDiff(this)"
              rev="{{change.revision|slice:":12"}}"></td>
          </tr>
	  {% endfor %}
	  {% endfor %}
	</tbody>
    </table>
{% else %}
    <p>No pushes in repository.</p>
{% endif %}
{% endblock %}
