/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

#masthead {
    margin-bottom: 48px;
}

#main-feature {
    text-align: center;
}

#main-feature h2 {
    padding: 0;
}

#auth {
    position: relative;
}

#auth form {
    background: #FFFFFF;
    box-shadow: 1px 1px 3px #AAAAAA;
    padding: 20px;
    position: absolute;
    right: 0;
    width: 200px;
    z-index: 1;
}

#auth form img {
    float: right;
    margin-top: 5px;
}

#auth form .logout .button {
    width: 200px;
}

#auth form input {
    margin-bottom: 10px;
    width: 185px;
}

#auth form .error {
    color: #FF0000;
    margin-bottom: 10px;
    text-transform: none;
}

#auth form .site_login_error,
#auth form .site_login_error .message {
    margin-bottom: 0;
}

#colophon .footer-license {
    width: 450px;
}

#colophon .footer-nav {
    float: right;
    text-align: right;
}

#colophon .footer-nav li {
    margin: 0;
}

table.exhibit-tabularView-body td,
table.exhibit-tabularView-body th {
    border-left: 1px solid #ccc;
}
table.exhibit-tabularView-body {
    border: 1px solid #ccc;
    border-left: 0;
}

table.exhibit-tabularView-body,
table.standard {
    border-collapse: collapse;
    width: 100%;
}
table.exhibit-tabularView-body tr,
table.standard tr {
    border-top: 1px solid #ccc;
}
/* instead of relying on order, make this selector more prevalent
   so it take precendence over `table.standard tr` */
#main-content table.standard-borderless tr {
    border-top: none;
}
table.exhibit-tabularView-body tr {
    background-color: #eee; /* fallback color if gradients are not supported */
    background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#eee));
    background-image: -webkit-linear-gradient(top, white, #eee);
    background-image: -moz-linear-gradient(top, white, #eee);
    background-image: -ms-linear-gradient(top, white, #eee);
    background-image: -o-linear-gradient(top, white, #eee);
    border-top: 1px solid #ccc;
}
table.exhibit-tabularView-body td,
table.standard td {
    padding: 10px 7px;
    vertical-align: top;
}

a.external-link {
    background: url(../img/external-link.png) right center no-repeat;
    margin-right: 15px;
}

a.permalink {
    visibility: hidden;
}

:hover > a.permalink {
    text-decoration: none;
    visibility: visible;
}
