{% extends "l10nstats/index.html" %}
{% block title_matter %}{{ mstone }} dashboard{% endblock %}
{% block extra_data %}<link href="{% url signoff.views.signoff_json %}?ms={{mstone.code}}" type="application/json" rel="exhibit/data"/>{% endblock %}

{% block extra_labels %}, Sign-off{% endblock %}
{% block extra_columns %}, .locale.signoff{% endblock %}
{% block extra_cells %}<td><a ex:href-subcontent="{% url signoff.views.pushes %}?locale={&#123;.locale}}&ms={{mstone.code}}" ex:content=".locale.signoff"></a></td>{% endblock %}
{% block extra_facets %}
<div ex:role="facet" ex:expression=".locale.signoff"
  ex:facetLabel="Sign-off" id="signoff-facet"></div>
{% endblock %}
