{% extends "signoff/base.html" %}

{% block content %}
<div class="nav">
  <a href="{% url signoff.views.index %}">« All milestones</a>
</div>
{% if error %}
<p class="error">
  {{ error }}
</p>
{% else %}
<br />
{% if mstone %}
<h3>Locales for {{mstone}}:</h3>
{% else %}
<p>Locales:</p>
{% endif %}
<ul>
  {% for locale in locales %}
    <li><a href="{% url signoff.views.sublist arg=mstone.code,arg2=locale.code %}">{{locale}}
    {% for elem in locale.params %}
      [{{elem}}]
    {% endfor %}</a></li>
  {% endfor %}
</ul>
{% endif %}
{% endblock %}