{% extends "signoff/base.html" %}

{% block title %}Signoffs for {{mstone}}{% endblock %}

{% block js_include %}
  <script type="text/javascript" src="{% url static path="jquery.js" %}">
  </script>
  <script type="text/javascript">
$(document).ready(
  function(){
    var _timeout, _srch = $('#search');
    function _doSearch() {
      $('li[locale]').hide();
      $('li[locale*=' + _srch[0].value + ']').show();
      _timeout = undefined;
   }
    function _triggerSearch(e) {
      if (_timeout) {
        window.clearTimeout(_timeout);
      }
      _timeout = window.setTimeout(_doSearch, 500);
   };
    $('#search').focus().keypress(_triggerSearch);
  }
);

  </script>
{% endblock %}

{% block content %}
<div class="nav">
  <a href="{% url signoff.views.index %}">« All milestones</a>
</div>
{% if error %}
<p class="error">
  {{ error }}
</p>
{% else %}
<br />
{% if mstone %}
<h3>Locales for {{mstone}}:</h3>
{% else %}
<p>Locales:</p>
{% endif %}
<p>Search: <input type="text" size="10" id="search"></p>
<ul>
  {% for locale in locales %}
    <li locale="{{ locale.code }}"><a href="{% url signoff.views.sublist arg=mstone.code,arg2=locale.code %}">{{locale}}
    {% for elem in locale.params %}
      [{{elem}}]
    {% endfor %}</a></li>
  {% endfor %}
</ul>
{% endif %}
{% endblock %}