{% extends "signoff/base.html" %}

{% block content %}
<a href="{% url signoff.views.index %}">&lt; All milestones</a>
<br />
{% if error %}
<p class="error">
  {{ error }}
</p>
{% else %}
<br />
{% if mstone %}
<p>Locales for {{mstone}}:</p>
{% else %}
<p>Locales:</p>
{% endif %}
<ul>
  {% for locale in locales %}
    <li><a href="{% url signoff.views.sublist arg=mstone.code,arg2=locale.code %}">{{locale}}
    {% for elem in locale.params %}
      [{{elem}}]
    {% endfor %}</a></li>
  {% endfor %}
</ul>
{% endif %}
{% endblock %}