{% extends "signoff/base.html" %}

{% block content %}
{% if error %}
<p class="error">
  {{ error }}
</p>
{% else %}
<br />
{% if locale %}
<h3>Milestones for {{locale}}:</h3>
{% else %}
<p>Milestones:</p>
{% endif %}
<ul>
  {% for mstone in mstones %}
    <li><a href="{% url signoff.views.dashboard ms=mstone.code %}">{{mstone}}
    {% for elem in mstone.params %}
      [{{elem}}]
    {% endfor %}</a></li>
  {% endfor %}
</ul>
{% endif %}

<iframe id="account"
        style="position:absolute;bottom:0;right:0;width:300px;height:100px;border:1px solid black"
        src="{% url accounts.views.index %}">
</iframe>
{% endblock %}