{% extends "signoff/base.html" %}

{% block content %}
<h3>Signoff for {{mstone}} {{locale.code}}</h3>

<h4>Depends on</h4>
<ul>
  <li>Websites</li>
  <li>SUMO</li>
  <li>Localization</li>
  <li>P12n</li>
</ul>

<div>
  <p>Start date: {{mstone.start_event.date}}</p>
  <p>End date: {{mstone.end_event.date}}</p>
</div>

<div>
  Enabled: {% if enabled %}True{%else%}False{% endif %}
</div>

<form action="" method="POST" {% if not enabled %}class="disabled"{% endif %}>
    <div class="fieldWrapper">
        {{ form.revision.errors }}
        <label for="id_subject">{{ form.revision.label_tag }}:</label>
        {{ form.revision }}
    </div>
    <div class="fieldWrapper">
        {{ form.author.errors }}
        <label for="id_subject">{{ form.author.label_tag }}:</label>
        {{ form.author }}
    </div>
<input type="submit" value="Submit" />
</form>


{% endblock %}