{% extends "signoff/base.html" %}

{% block title %}Signoff for {{mstone}} {{locale.code}}{% endblock %}

{% block js_include %}
  <script type="text/javascript" src="/static/jquery.js"></script>
{% endblock %}

{% block javascript %}
$(document).ready(function(){
  {% for note in notes %}
  {% ifnotequal note "error" %}
    setTimeout('$(".{{note}}").fadeOut("slow")', {% ifequal note "info" %}2000{% else %}{% ifequal note "warning" %}6000{% else %}15000{% endifequal %}{% endifequal %});
  {% endifnotequal %}
  {% endfor %}
 });

var user = 0

function handleReload(u) {
  window.status = u
  switch (u) {
    case 0:
      $('.signoff_button').hide()
      $('tr.admin').hide()
      break
    case 1:
      $('.signoff_button').show()
      $('tr.admin').hide()
      break
    case 2:
      $('.signoff_button').show()
      $('tr.admin').show()
      break
  }
  user = u
}

{% endblock %}

{% block style %}
#pushes td.push-{{ current.push.id }} {
  border: 1px solid #9a9;
  background-color: #efe;
{% ifequal curcol 1 %}
  background-color: #99ff99;
{% endifequal %}

{% ifequal curcol -1 %}
  background-color: #ff0000;
{% endifequal %}
}

{% if accepted %}
{% ifnotequal accepted.push.id current.push.id %}
#pushes td.push-{{ accepted.push.id }} {
  border: 1px solid #aac;
  background-color: #dde;
}
{% endifnotequal %}
{% endif %}
{% endblock %}

{% block content %}
<div class="nav">
  <a href="{% url signoff.views.locale_list ms=mstone.code %}">« all <i>{{mstone.name}}</i> locales</a>
  <a href="{% url signoff.views.milestone_list loc=locale.code %}">« all <i>{{locale.code}}</i> milestones</a>
</div>
<h3>Signoff for {{mstone}} {{locale.code}}</h3>
<form action="" method="post" id="form_accept">
  <input type="hidden" id="id_accepted" name="accepted" />
</form>
<form action="" method="post" id="form_signoff">
  <input type="hidden" id="id_push" name="push" />
</form>

<table id="pushes">
  <tr>
    {% for push in pushes %}
      {% if push.date %}
      <td {% if push.colspan %}colspan="{{ push.colspan }}"{% endif %}>{{ push.date }}</td>
      {% endif %}
    {% endfor %}
  </tr>
  <tr>
    {% for push in pushes %}
      <td class="push-{{ push.object.id }}"><a href="{{ push.url }}">{{ push.time }}</a></td>
    {% endfor %}
  </tr>
  <tr>
    {% for push in pushes %}
      <td class="push-{{ push.object.id }}">{{ push.object.user }}</td>
    {% endfor %}
  </tr>
  <tr>
    {% for push in pushes %}
      <td class="push-{{ push.object.id }}">{{ push.build }}</td>
    {% endfor %}
  </tr>
  <tr>
    {% for push in pushes %}
      <td class="push-{{ push.object.id }}">{{ push.compare }}</td>
    {% endfor %}
  </tr>
  <tr class="signoff">
    {% for push in pushes %}
      {% if push.current %}
      <td class="push-{{ push.object.id }}">{{ current.when }} {{ current.author }}</td>
      {% else %}
      <td class="push-{{ push.object.id }}"><input type="button" value="Sign off" class="signoff_button" onclick="$('#id_push').val({{ push.object.id }});$('#form_signoff').submit()"/>&nbsp;</td>
      {% endif %}
    {% endfor %}
  </tr>
  <tr class="signoff admin">
    {% for push in pushes %}
      {% if  push.accepted %}
      <td class="push-{{ push.object.id }}">
        accepted
        <br/>
        <input type="button" value="Revoke" onclick="$('#id_accepted').val('False');$('#form_accept').submit()"/>
      </td>
      {% else %}
        {% if push.current %}
        <td class="push-{{ push.object.id }}">
          <input type="button" value="Accept" onclick="$('#id_accepted').val('True');$('#form_accept').submit()"/>
          {% ifnotequal curcol -1 %}
          <input type="button" value="Refuse" onclick="$('#id_accepted').val('False');$('#form_accept').submit()"/>
          {% endifnotequal %}
        </td>
        {% else %}
        <td class="push-{{ push.object.id }}">&nbsp;</td>
        {% endif %}
      {% endif %}
    {% endfor %}
  </tr>
</table>
<fieldset class="legend">
  <legend>Legend</legend>
  <ul>
  	<li><div class="box signedoff" /> - signed off</li>
  	<li><div class="box paccepted" /> - previously accepted</li>
  	<li><div class="box accepted" /> - accepted</li>
  	<li><div class="box refused" /> - refused</li>
  </ul>
</fieldset>
{% for id, note in notes.items %}
  <fieldset class="note {{ id }}">
    <legend>{{ id }}!</legend>
  {{ note|safe }}
  </fieldset>
{% endfor %}

{% endblock %}