{% extends "signoff/base.html" %}

{% block title %}Signoff for {{mstone}} {{locale.code}}{% endblock %}

{% block js_include %}
  <script type="text/javascript" src="/static/jquery.js"></script>
{% endblock %}

{% block javascript %}
$(document).ready(function(){
   setTimeout('$(".note").fadeOut("slow")', 1000);
 });

{% endblock %}

{% block style %}
td.disabled {
  background-color: gray;
}

td.green {
  background-color: green;
}

td.red {
  background-color: red;
}

td.orange {
  background-color: orange;
}

fieldset.disabled {
  background-color: #cccccc;
}

fieldset legend {
  padding: 3px;
}

fieldset.green legend {
  background-color: #cccccc;
}

fieldset.green {
  background-color: green;
}

fieldset.green legend {
  background-color: green;
}

fieldset.note {
  background-color: #ffff99;
  border: 1px solid #dddd00;
  padding: 5px;
  margin: 10px 0;
}

fieldset.note legend {
  background-color: #ffff99;
  border-top: 1px solid #dddd00;
  border-left: 1px solid #ffff00;
  border-right: 1px solid #ffff00;
  font-weight: bold;
}
{% endblock %}

{% block content %}
<a href="/signoff/{{mstone.code}}">&lt;&lt; back to locales</a>
<a href="/signoff/{{locale.code}}">&lt;&lt; back to milestones</a>
<h3>Signoff for {{mstone}} {{locale.code}}</h3>

<fieldset class="{% ifequal timeslot 'open' %}green{%else%}disabled{% endifequal %}">
  <legend>Dates</legend>
  <span>Start date: {{mstone.start_event.date}}</span>
  <span>End date: {{mstone.end_event.date}}</span>
</fieldset>

<fieldset>
  <legend>Depends on</legend>
<table>
  <thead>
    {% for dep in dependencies %}
    <th>{{ dep.name }}</th>
    {% endfor %}
  </thead>
  <tr>
    {% for dep in dependencies %}
    <td class="{{ dep.css }}">
      {{ dep.completeness }}%
      <ul>
        {% for blocker in dep.blockers %}
        <li><a href="{{blocker.1}}">{{blocker.0}}</a></li>
        {% endfor %}
      </ul>
    </td>
    {% endfor %}
  </tr>
</table>
</fieldset>
<div class="clear" />

<fieldset class="{% if enabled %}enabled{%else%}disabled{% endif %}">
  <legend>Sign off</legend>
<form action="" method="POST" {% if not enabled %}class="disabled"{% endif %}>
    <div class="fieldWrapper">
        {{ form.push.errors }}
        <label for="id_subject">{{ form.push.label_tag }}:</label>
        {{ form.push }}
    </div>
    <div class="fieldWrapper">
        {{ form.author.errors }}
        <label for="id_subject">{{ form.author.label_tag }}:</label>
        {{ form.author }}
    </div>
<input type="submit" value="Submit" {% if not enabled %}disabled="disabled"{% endif %} />
</form>
</fieldset>

{% if note %}
  <fieldset class="note">
    <legend>note!</legend>
  {{ note|safe }}
  </fieldset>
{% endif %}

<iframe id="account"
        style="position:absolute;bottom:0;right:0;width:300px;height:100px;border:1px solid black"
        src="/accounts/">
</iframe>
{% endblock %}