{% extends "base.html" %}
{% block title_matter %}Pushes{% endblock %}
{% block head_matter %}
<script type="application/javascript"
src="{% url static path="jquery.js" %}"></script>
<script type="application/javascript" src="{% url static path="jquery.ui/ui/ui.core.js" %}"></script>
<script type="application/javascript" src="{% url static path="jquery.ui/ui/ui.draggable.js" %}"></script>
<script type="application/javascript" src="{% url static path="jquery.ui/ui/ui.resizable.js" %}"></script>
<script type="application/javascript" src="{% url static path="jquery.ui/ui/ui.dialog.js" %}"></script>
<script type="application/javascript" src="{% url static path="widgets.js" %}"></script>
<link rel="stylesheet" href="{% url static path="style-gitweb.css" %}" type="text/css" >
<link rel="stylesheet" href="{% url static path="jquery.ui/themes/base/ui.all.css" %}" type="text/css" >
<style type="text/css">
table.ui-widget {padding: 0px;}
</style>
<script type="application/javascript">
function log(msg) {
  if (window.console && console.log) {
    console.log(msg);
  }
};

var progress = {
  _c: 0,
  load: function() {
    this._c++;
    document.body.style.cursor = 'progress';
  },
  done: function() {
    this._c--;
    if (this._c == 0) {
      document.body.style.cursor = '';
    }
  }
};


$(document).ready(function(){
  var d = $('#searchpane').dialog({
    autoOpen: false,
    modal: true,
    width: 500,
    buttons: {
      Search: function() {$(this).children('form').submit();}
    }
  })
  $('#search').click(function(){d.dialog('open');})
    .hover(
	  function() {
	    $(this).addClass('ui-state-hover');
	  },
	  function() {
            $(this).removeClass('ui-state-hover');
	  })
    .focus(function() {
      $(this).addClass('ui-state-focus');
    })
    .blur(function() {
      $(this).removeClass('ui-state-focus');
    });
  function enableField(fieldName) {
    var targetInput = $('#i_' + fieldName)[0];
    return function(e) {
      var cell = $(e.target).parents('tr').children('td:nth-child(2)');
      if (!cell.hasClass('ui-widget')) {
	var date = targetInput.value ? Number(targetInput.value * 1000) : undefined;
	cell.html('').datetime({
	    date: date
	  })
	  .bind('datetimevalue', function(e, v) {
	    targetInput.value = Number(v) / 1000;
	  });
	$('#i_' + fieldName).attr('name', fieldName);
      }
      else {
	cell.datetime('destroy').html('&hellip;');
	$('#i_' + fieldName).removeAttr('name');
      }
      
    }
  };
  $('#b_from').click(enableField('from'));
  {% if search.from %}
  $('#b_from').trigger('click');
  {% endif %}
  $('#b_until').click(enableField('until'));
  {% if search.until %}
  $('#b_until').trigger('click');
  {% endif %}
  $('#b_limit').click(
    function(e) {
      var cell = $(e.target).parents('tr').children('td:nth-child(2)');
      if (!cell.hasClass('ui-widget')) {
	cell.addClass('ui-widget').removeClass('ui-state-disabled');
	cell.find('input').attr('name', 'length');
      }
      else {
	cell.removeClass('ui-widget').addClass('ui-state-disabled');
	cell.find('input').removeAttr('name');
      }
    }
  );
});

function addSearch(select) {
  if (select.selectedIndex == 0) {
    log("doing nothing, lead selected");
    return;
  }
  var choice = select.options[select.options.selectedIndex];
  log("selected " + choice);
  switch (choice.id) {
    case "search_files":
      $('#searchrows').append('<tr><td>Path part</td><td><input name="path" type="text" size="10" maxlength="30"></tr>');
      break;
    case "search_repos":
      $('#searchrows').append('<tr><td>Repository part</td><td><input name="repo" type="text" size="10" maxlength="30"></tr>');
      break;
  }
};

</script>
{% endblock %}
{% block content %}
<button type="button" class="ui-state-default ui-corner-all" id="search">Search &hellip;</button>
<div id="searchpane" style="display:none;" title="search pushlogs">
  <form action="#" method="get">
    <input type="hidden" id="i_from" {% if timespan %}value="{{timespan.0}}"{% endif %}>
    <input type="hidden" id="i_until" {% if timespan %}value="{{timespan.01}}"{% endif %}>
  <table>
    <tbody id="searchrows">
      <tr>
	<td><button type="button" id="b_limit">Limit</button></td>
	<td class="ui-widget"><input name="length" type="text" size="3" maxlength="3" value="{% if limit %}{{limit}}{% else %}50{% endif %}"></td>
      </tr>
      <tr>
	<td><button type="button" id="b_from">From</button></td>
	<td>&hellip;</td>
      </tr>
      <tr>
	<td><button type="button" id="b_until">Until</button></td>
	<td>&hellip;</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
	<td></td>
	<td>
	  <select size="1" onchange="addSearch(this)">
	    <option>and&hellip;</option>
	    <option id="search_files">file paths</option>
	    <option id="search_repos">repository names</option>
	  </select>
	</td>
      </tr>
    </tfoot>
  </table>
  </form>
</div>
{% if pushes %}
    <table>
      <thead>
	<tr>
	  <th>User<br />Date</th>
	  <th>Repository</th>
	  <th>Changeset</th>
	  <th>Author &mdash; Description</th>
	</tr>
	</thead>
	<tbody>
	  {% for push in pushes %}
	  <tr class="{{push.class}}">
	    <td rowspan="{{push.span}}"><cite>{{push.push.user}}<br /><span class="date">{{push.push.push_date}}</span></cite></td>
	    <td rowspan="{{push.span}}"><a href="{% url pushlog %}{{push.push.repository.name}}/">{{push.push.repository.name}}</a></td>
	    <td class="age">
	      <a href="{{push.push.repository.url}}rev/{{push.tip.revision}}"
	      target="_blank">
	      {{push.tip.revision|slice:":12"}}
	      </a>
	    </td>
	    <td>
	    <strong>{{push.tip.user}} &mdash;
	      {{push.tip.description}}</strong>
	    </td>
	  </tr>
	  {% for change in push.changesets %}
	  <tr class="{{push.class}}">	  
	    <td class="age">
	      <a href="{{push.push.repository.url}}rev/{{change.revision}}"
	      target="_blank">
	      {{change.revision|slice:":12"}}
	      </a>
	    </td>
	    <td>
	    <strong>{{change.user}} &mdash;
	      {{change.description}}</strong>
	    </td>
	  </tr>
	  {% endfor %}
	  {% endfor %}
	</tbody>
    </table>
{% else %}
    <p>No pushes in repository.</p>
{% endif %}
{% endblock %}