{% if form %}
{% if not form.errors %}
<a onclick="$('#site_login').show();$(this).hide(); $('#id_username').focus(); return false;" href="">Log in</a>
{% endif %}
<form {% if not form.errors %}style="display:none" {% endif %} onsubmit="return submit_site_login();" id="site_login" method="POST" action="{% url django.contrib.auth.views.login %}"><input type="hidden" name="next"
value=""><ul>{{ form.as_ul }}<li><input type="submit" value="OK"></li></ul></form>
{% else %}
<form method="POST" id="site_login" action="{% url accounts.views.logout %}"><input type="hidden" name="next"
value="">
 Hello, {% if user.first_name %}{{ user.first_name }}{% else %}{{ user.username }}{% endif %}. 
<a onclick="return submit_site_logout();" href="{% url accounts.views.logout %}">Log out</a></form>
{% endif %}
