/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

div.thumbnail {
    border: solid black 1px; margin: 2px;
}
.success {
    background-color: green;
}
.warning {
    background-color: orange;
}
.failure {
    background-color: red;
}
.tree_cell.success {
    background-color: rgba(0, 128, 0, 0.5);
}
.tree_cell.warnings {
    background-color: rgba(255, 165, 0, 0.5);
}
.tree_cell.failure {
    background-color: rgba(255, 0, 0, 0.5);
}
.progress {
    border-right: solid 1px grey;
    border-bottom: solid 1px grey;
}
.stats {
    cell-padding:0px;
    border-spacing:0px;
    padding: 3px;
}
table.stats td.status {
    height: 1ex;
    margin: 0px;
    padding: 0px;
    border: 0px;
}
.changed {
    background-color: green;
}
.unchanged {
    background-color: grey;
}
.missing {
    background-color: red;
}
.bugs_pane {
    margin: 1em !important;
    margin-top: 2em !important;
}
.bug_block {
    margin-top: 1em !important;
}
.blocker_block {
    margin: .5em !important;
    padding-left: 2em !important;
}
.noblockers {
    margin: .5em !important;
    padding-left: 2em !important;
    font-style: italic;
}
.bugfield_status_whiteboard {
    font-style: italic;
    padding-left: 2em;
}
.bugfield_short_desc {
    padding-left: 1em;
}


/* override of exhibit CSS effect
  (done here rather than editing exhibit-bundle.css)
*/

.exhibit-tabularView-columnHeader,
.exhibit-tabularView-columnHeader-sorted {
    padding: .5em;
    min-width: 30px;
    font-size: .8em;
}
