/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.children {
  padding-left:1em;
}
.diff {
  padding-left: 2ex;
}
.line-added, .file-added, .file-copied {
  color: green;
}
.line-removed, .file-removed {
  color: red;
}
.empty-diff {
  font-size: small;
}
.replace {
  background-color: orange;
}
.delete {
  background-color: red;
}
.insert {
  background-color: #66ff00;
}
.renamed, .copied {
  font-size: small;
}
table.diff {
  margin-left: 20px;
}
table.diff td {
  vertical-align: top;
  padding-left: 10px;
}
