/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */


.csuser {
    font-size: smaller;
    color: gray;
}
.who {
    background-color: lightgray;
    padding: 0.25em;
}
.push {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: lightgray;
    padding: 0.25em;
}
.rev {
    padding-right: 12em;
}
.signoffrow.hidden {
    display: none;
}
.signoff {
    background-repeat: no-repeat;
    background-position: right 4;
}
.signoff.rejected {
    background-color: #FFCCCC;
}
.signoff.accepted {
    background-color: #CCFFCC;
}
.signoff.pending {
    background-color: #FFFFCC;
}
.signoff.canceled {
    color: gray;
}
.bad_signoff {
    padding: 1em;
    padding-top: .5em;
    margin-bottom: 1em;
    border: solid orange 2px;
    border-radius: .5em;
}
.good_signoff {
    padding: 1em;
    padding-top: .5em;
    margin-bottom: 1em;
    border: solid black 2px;
    border-radius: .5em;
}
.so_what {
    font-size: smaller;
    display: inline-block;
}
.do_signoff {
    float: right;
}
.diffanchor {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    background-color: gray;
    cursor: move;
}
.diffanchor.double {
    height: 16px;
}

#pushtable td {
    border-style: inherit;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}

#pushtable td.push {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: lightgray;
    padding: 0.25em;
}
#pushtable {
    empty-cells: show;
    clear: left;
    border-collapse: separate;
}

#pushtable tr.pushrow td {
    border-top:1px solid #ccc;
}

#pushtable tr.pushrow-inner td {
    border-top:0px solid white;
}

#pushtable tr.pushrow-first td {
    border-top:1px solid #ccc;
}

#pushtable tr.signoffrow td {
    border-top:0px solid white;
}

#pushtable td.note {
    border: 0 solid white;
    text-align: center;
}

td.diff {
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
}
.shortrev.hidden {
    display: none;
}

.review_action {
    float: right;
}
.hidden {
    visibility: hidden;
}

.note {
    color: gray;
    font-style: italic;
}

.push-spacer {
  height: 1px;
}

.tree-change-spacer {
  height: 10px;
}
