/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */


.trees {
    margin-bottom: 2em;
}

.trees th {
    color: #9d9d9d;
    font-weight: normal;
    font-style: italic;
    padding: 0.5em 0;
}

table.trees tr.treesummary td.productname {
    background: #ffffff;
    border: 0px;
    font-weight: bold;
    font-size: 130%;
    padding-right: 1em;
}

.trees .treesummary {
    background: #ffffff;
}

.trees .treesummary:first-child td {
    border-top: 1px solid #d3d3d3;
}

.trees .treesummary:nth-child(odd) {
    background: #eeeeee;
}

.trees td {
    border-left: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
    padding: 0.75em;
}

.trees .treename {
    font-weight: bold;
    vertical-align: middle;
    min-width: 145px;
}

.trees .treestatus {
    font-size: 90%;
    min-width: 9em;
}

.trees .treestatus a {
    display: block;
    font-weight: bold;
    margin: 0.25em 0;
}

.trees .treestatus .translated {
    color: #848484;
}

.trees .treestatus .missing,
.trees .treestatus .error {
    color: red;
}

.trees .treestatus .obsolete,
.trees .treestatus .reported {
    color: #ff6c00;
}

.trees tbody td:last-child {
    border-right: 1px solid #d3d3d3;
}

.trees .signoffstatus a {
    background: white no-repeat scroll 6px center;
    border: 1px solid #9b9b9b;
    border-radius: 4px;
    color: #484848;
    display: inline-block;
    padding: 0.55em 0.75em 0.55em 32px;
    text-decoration: none;
}

.trees .signoffstatus .no-sign-offs {
    padding-left:0.55em;
}

.trees .signoffstatus .current {
    background-image: url("../img/accepted.png")
}

.trees .signoffstatus .fallback {
    background-image: url("../img/details.png")
}

.trees .signoffstatus .pending {
    background-image: url("../img/pending.png");
    background-position: 5px center;
}

.trees .signoffstatus .suggested {
    background-image: url("../img/suggested.png");
    background-position: 4px center;
}

.trees .signoffstatus .rejected {
    background-image: url("../img/rejected.png");
    background-position: 4px center;
}

.trees .signoffstatus a:hover {
    color: #000000;
    border-color: #484848;
}

.trees .signoffstatus .hidden {
    position: relative;
    visibility: hidden;
}

/* Progress bar */

.stats {
    border-spacing: 0;
}

.changed {
    background-color: green;
}

.unchanged {
    background-color: grey;
}

.trees .stats .status {
    border 0 none;
    height: 1ex;
    margin: 0;
    padding: 0;
}
