/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */


.trees {
    margin-bottom: 2em;
    width: 100%;
    border-collapse: separate;
}

.trees th {
    color: #9d9d9d;
    font-weight: normal;
    font-style: italic;
    padding: 0.5em 0;
    /* copied from sandstone */
    background-color: #F9F9F9;
    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
}

.trees > tbody > td {
    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
    border: 1px solid #d3d3d3;
}

table.trees tr.treesummary td.productname {
    background: #ffffff;
    border: 0px;
    font-weight: bold;
    font-size: 130%;
    padding-right: 1em;
}

tr.separator td {
    padding: 3px;
    border: none;
}

.trees .odd-td {
    background: #eeeeee;
}

.trees .even-td {
    background: #ffffff;
}

.trees td {
    border-left: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
    padding: 10px 7px;
    vertical-align: top;
}

.trees .appname {
    border-radius: 10px 0 0 10px;
    background-color: #ffffff;
}

.trees .topline > td {
    border-top: 1px solid #d3d3d3;
}

.trees .toprow .appname {
    border-top-left-radius: 0;
}

.trees .treename {
    font-weight: bold;
}

.trees .tree-or-av {
    vertical-align: middle;
}

.trees .treestatus {
    font-size: 90%;
}

.trees .treestatus a {
    display: block;
    font-weight: bold;
}

.trees .treestatus .translated {
    color: #848484;
}

.trees .treestatus .missing,
.trees .treestatus .error {
    color: red;
}

.trees .treestatus .obsolete,
.trees .treestatus .warnings-text,
.trees .treestatus .reported {
    color: #ff6c00;
}

.trees .treeprogress {
    vertical-align: middle;
}

.trees tbody td:last-child {
    border-right: 1px solid #d3d3d3;
}

.trees .signoffs.actions .button {
    /* override sandstone button min-width */
    min-width: 0;
}

.signoffs.actions .oi {
    padding-right: 5px;
}

.actions .pending .oi {
    color: #0096DD;
}

.actions .rejected .oi {
    color: red;
}

.signoffs.actions .suggest-error {
    color: red;
}
.signoffs.actions .suggest-warning {
    color: #ff6c00;
}
.signoffs.actions .suggest-success {
    color: green;
}


.trees .signoffs.actions .closed-sign-offs {
    background: none;
    color: black;
    font-size: smaller;
    font-style: italic;
}

.trees .signoffs.actions .no-sign-offs {
    padding-left:0.55em;
}

.trees .signoffs.status.ok {
    text-align: center;
}
.trees .signoffs.status .status-ok {
    color: green;
}

.trees .signoffs .status-fallback {
    color: #ff6c00;
}

.trees .signoffs.actions a:hover {
    color: #000000;
    border-color: #484848;
}


/* Progress bar */

.stats {
    border-spacing: 0;
}

.stats tr {
    border-top: 1px solid #d3d3d3;
}

.changed {
    background-color: green;
}

.unchanged {
    background-color: grey;
}

.trees .stats .status {
    border: none;
    height: 1ex;
    margin: 0;
    padding: 0;
}

.trees .locale-team {
    margin-left: 10px;
    color: #9d9d9d;
}
