{% extends "shipping/base.html" %}
<!-- {% comment %}
   - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/.
{% endcomment %} -->
{% load compress %}
{% load staticfiles %}

{% block title_matter %}About {{ms}}{% endblock %}

{% block head_matter %}
<link href="{% url 'shipping-milestone-statuses' ms.code %}" type="application/json" rel="exhibit-data" />
{% compress css %}
<link rel="stylesheet" href="{% static "shipping/css/about-milestone.css" %}" type="text/css">
{% endcompress %}
{% endblock %}
{% block javascript_matter %}
<script src="{% static "simile/exhibit/exhibit-api.js" %}?persist=false"></script>
{% compress js %}
<script src="{% static "shipping/js/about-milestone.js" %}"></script>
{% endcompress %}
{% endblock %}


{% block content %}
<h1>About {{ms}}</h1>

  <div class="shipping">
    <div><span id="ship-expander"><a href="#">Shipping tools</a></span></div>
    <div class="shipping-tools" style="display:none">
      <p>Download
      <a href="{% url 'shipping-shipped_locales' %}?ms={{ ms.code }}" target="_blank">shipped-locales</a>
      and
      <a href="{% url 'shipping-l10n_changesets' %}?ms={{ ms.code }}" target="_blank">l10n-changesets</a>
      for this milestone.
      </p>
      <p>Alternatively, fill out the l10n-changesets.json form:</p>
      <form id="changes.json" method="get" action="{% url 'shipping-milestone-json_changesets' %}">
      <input type="hidden" name="ms" value="{{ ms.code }}" />
      Platforms, comma separated:
      <input type="text" name="platforms" value="android"><br>
      <input type="button" value="Add" id="add-multi"> a multi-locale
      file for <input id="nextmulti"
      type="text" value="android-multilocale">
      <table class="standard">
        <thead>
          <tr><th>repo</th><th>branch</th><th>path</th></tr>
        </thead>
        <tbody id="multis"></tbody>
      </table>
      <input type="submit" value="l10n-changesets.json">
      </form>
    </div>
  </div>

 <div data-ex-role="controlPanel" data-ex-show-bookmark="false"></div>
 <table class="standard">
   <tr>
     <td data-ex-role="viewPanel">
       <div data-ex-role="view" data-ex-showAll="true" data-ex-view-class="Tabular"
         data-ex-show-toolbox="false"
         data-ex-column-labels="Locale, Revision, Latest, Snapshot {% ifnotequal ms.status Milestone.SHIPPED %}, Active{% endifnotequal %},Updated from,Old"
         data-ex-columns=".label,.revision, .latest_class,.snapshot_class {% ifnotequal ms.status Milestone.SHIPPED %}, .active_class{% endifnotequal %},.updatedFrom,.fallback">
         <table style="display:none;">
           <tr>
             <td>
               <span data-ex-content=".label"></span>
            </td>
            <td>
              <a target="_blank" data-ex-content=".revision" data-ex-href-subcontent="{{foresturl}}{&#123;.label}}/pushloghtml?changeset={&#123;.revision}}"></a>
            </td>
             <td>
               <span data-ex-content=".latest"></span>
            </td>
             <td>
               <span data-ex-content=".snapshot"></span>
            </td>
{% ifnotequal ms.status Milestone.SHIPPED %}
            <td>
              <span data-ex-content=".active" data-ex-class=".active_class"></span>
            </td>
{% endifnotequal %}
           <td><span data-ex-if-exists=".updatedFrom"><span>
              <a target="_blank" data-ex-content=".updatedFrom" data-ex-href-subcontent="{{foresturl}}{&#123;.label}}/pushloghtml?changeset={&#123;.updatedFromRev}}"></a>,
              <a target="_blank" data-ex-href-subcontent="{% url 'pushes:diff' %}?from={&#123;.updatedFromRev}}&to={&#123;.revision}}&repo={{forestname}}/{&#123;.label}}">diff</a></span><span></span></span>
             <span data-ex-if-exists=".added"><span class="added">added</span></span>
            </td>
            <td>
             <span data-ex-if-exists=".fallback"><span class="added" data-ex-content=".fallback"></span></span>
            </td>
          </tr>
         </table>
       </div>
     </td>
     <td width="25%">
       <div data-ex-role="facet" data-ex-expression=".latest_class" data-ex-facet-label="Latest"
         id="latest-facet"
         data-ex-fixed-order="success;warnings;failure;exception"></div>
       <div data-ex-role="facet" data-ex-expression=".snapshot_class" data-ex-facet-label="Snapshot"
         id="snapshot-facet"
         data-ex-fixed-order="success;warnings;failure;exception"></div>
{% ifnotequal ms.status Milestone.SHIPPED %}
       <div data-ex-role="facet" data-ex-expression=".active_class" data-ex-facet-label="Active"
         id="active-facet"
         data-ex-fixed-order="success;warnings;failure;exception"></div>
{% endifnotequal %}
      <div data-ex-role="facet" data-ex-expression=".updatedFrom"
        data-ex-facet-label="Updated"
        id="updated-facet"></div>
    </td>
   </tr>
 </table>
{% endblock %}
