{% extends "shipping/base.html" %}
<!-- {% comment %}
   - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/.
{% endcomment %} -->

{% block title_matter %}Locale changes for {{appver}}{% endblock %}

{% block head_matter %}
<style>
.dropped {
color: red;
}
.added {
color: green;
}
.milestone {
white-space: nowrap;
}
</style>
{% endblock %}

{% block content %}
<h1>Locale changes for {{appver}}</h1>
<table class="standard">
{% for row in rows %}
<tr>
  <td class="milestone"><a href="{% url shipping.views.milestone.about row.code %}" target="_blank">{{row.name}}</a></td>
  <td>
    {% for loc, cls in row.changes %}<span class="{{cls}}">{{loc}}</span> {% endfor %}
  </td>
</tr>
{% endfor %}
</table>
{% endblock %}
