{% extends "shipping/base.html" %}
<!-- {% comment %}
   - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/.
{% endcomment %} -->

{% block title_matter %}Locale changes for {{appver}}{% endblock %}

{% block head_matter %}
<style>
a.dropped, a.rejected {
color: red;
}
a.added {
color: green;
}
a.pending {
  color: orange;
}
a.obsoleted {
  text-decoration: line-through;
}
.milestone {
white-space: nowrap;
}

/* Due to a bug in Gecko, sometimes the tr+td borders span into cells
   that don't exist due to rowspan masking them out.
   https://bugzilla.mozilla.org/show_bug.cgi?id=935914
*/
table.standard td[rowspan] {
    border-left: 1px solid #ccc;
}
</style>
{% endblock %}

{% block content %}
<h1>Locale changes for {{appver}}</h1>
<table class="standard">
{% for row in rows %}
<tr>
  <td class="milestone">{% if row.code %}<a href="{% if row.isAppVersion %}{% url 'shipping.views.app.changes' row.code %}{% else %}{% url 'shipping.views.milestone.about' row.code %}{% endif %}" target="_blank">{% endif %}{{row.name}}{% if row.code %}</a>{% endif %}</td>
  <td>
    {% for loc, cls in row.changes %}<a class="{{cls}}" href="{% url 'shipping.views.signoff.signoff' loc appver.code %}">{{loc}}</a> {% endfor %}
  </td>
  {% if row.rowspan %}
  <td rowspan="{{ row.rowspan }}" style="{% if row.rowspan_last %}vertical-align:top{% else %}vertical-align:bottom{% endif %}">
    {{ row.group_locales_count }}
  </td>
  {% endif %}
</tr>
{% endfor %}
</table>
{% endblock %}
