{% extends "shipping/base.html" %}
<!-- {% comment %}
   - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/.
{% endcomment %} -->

{% block title_matter %}Shipping {{ mstone }}{% endblock %}

{% block content %}
<h1>Shipping {{ mstone }}</h1>
{% if pending_locs %}
<p class="warning">
There are pending sign-offs for {{ pending_locs|join:", " }}.
</p>
{% else %}
<p class="good">
There are no pending sign-offs.
</p>
{% endif %}
<form id="ship" method="post" action="{% url shipping.views.ship_mstone %}">{% csrf_token %}
<input type="hidden" name="ms" value="{{ mstone.code }}" />
<input type="submit" {% if not perms.shipping.can_ship %}
          disabled="disabled"{% endif %} value="Ship it">
</form>
{% endblock %}
