{% extends "base.html" %}
<!-- {% comment %}
   - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/.
{% endcomment %} -->
{% load simile %}
{% load url from future %}

{% block head_matter %}
<link href="{{ webdashboard_url }}json/?tag=URGENT" type="application/json" rel="exhibit/data" />
<link rel="stylesheet" href="{{ STATIC_URL }}shipping/css/dashboard.css" type="text/css">
<link href="{% url 'shipping.views.status.status_json' %}?{{ query }}" type="application/json" rel="exhibit/data"/>
{% exhibit autoCreate=false %}
<script>
var EX_OPTIONS = ["tree", "result", "locale", "shipping", "signoff"];
</script>
{% endblock %}

{% block javascript_matter %}
<script src="{{ STATIC_URL }}shipping/js/dashboard.js"></script>
{% endblock %}

{% block title_matter %}Sign-offs {% if subtitles %}({{ subtitles|join:", " }}){% endif %}{% endblock %}

{% block alt_header %}
<hgroup id="main-feature">
  <h1 class="large">Sign-offs {% if subtitles %}({{ subtitles|join:", " }}){% endif %}</h1>
</hgroup>
{% endblock %}

{% block body_content_class %}page-wider{% endblock %}

{% block content %}
 <div ex:role="collection" ex:itemTypes="Build"></div>
 <table width="100%" class="standard">
   <tr valign="top">
     <td ex:role="viewPanel" ex:showAll="true">
       <span ex:role="lens" class="comparison" ex:itemTypes="Comparison" style="display:none">
         <span  ex:content=".label"></span>
         <span ex:if-exists=".bug" class="bug"> (<a ex:href-subcontent="https://bugzilla.mozilla.org/show_bug.cgi?id={&#123;.bug}}" target="_blank">buglink</a>)</span>

         <span ex:if-exists=".comment" class="comment"> (<em ex:content=".comment"></em>)</span>
       </span>
    <div ex:role="view" ex:viewClass="Tabular"
      ex:collectionID="buids"
      ex:columnLabels="Locale, Tree, %, Errors, Missing, Warnings, Reported, Obsolete, Unchanged, Web bugs, Stats, Status, Sign-off"
      ex:columns=".locale, .tree, .completion, .errors, .missing, .warnings, .report, .obsolete,  .unchanged, .locale.missing_webbugs, .locale, .changed, .locale.signoff"
      ex:cellSpacing="0">
      <table>
    <tr>
      <td class="locale_cell" ex:content=".locale"></td>
      <td ex:content=".tree" ex:class-subcontent="tree_cell {&#123;.result}}"></td>

      <td class="completion_cell" ex:content=".completion"></td>
      <td class="coverage_cell" ex:content=".errors"></td>
      <td class="coverage_cell" ex:content=".missing"></td>
      <td class="coverage_cell" ex:content=".warnings"></td>
      <td class="coverage_cell" ex:content=".report"></td>
      <td class="coverage_cell" ex:content=".obsolete"></td>
      <td class="coverage_cell" ex:content=".unchanged"></td>
     <td class="bugs_cell"><a ex:href-subcontent="{{ webdashboard_url }}?locale={&#123;.locale}}" target="_blank" ex:content=".locale.missing_webbugs"></a> (<span ex:content=".locale.total_webbugs"></span>)</td>
      <td><a title="History" ex:href-subcontent="{% url 'l10nstats.views.history_plot' %}?tree={&#123;.tree}}&locale={&#123;.locale}}" target="_blank">H</a>/<a title="Comparison" ex:href-subcontent="{% url 'compare_locales' %}?run={&#123;.runid}}" target="_blank">C</a></td>

      <td>
        <table class="stats">
               <tr>
                 <td title="changed" class="status changed" ex:width-subcontent="{&#123;.completion }}px"></td>
                 <td title="missing" class="status missing" ex:width-subcontent="{&#123;100 * .missing / .total}}px"></td>
                 <td title="unchanged" class="status unchanged" ex:width-subcontent="{&#123;100 * .unchanged / .total}}px"></td>
               </tr>
             </table>
       </td>
<td>
  <span ex:if="exists(.tree.appversion)">
  <span>
  <a ex:href-subcontent="{% url 'shipping.views.signoff.signoff' "&#123;&#123;.locale&#125;&#125;" "&#123;&#123;.tree.appversion&#125;&#125;" %}">
    <span ex:if="exists(.signoff )">
      <span ex:content=".signoff"></span>
      <span>no sign-offs</span>
    </span>
  </a>
  </span>
  </span>
</td>
    </tr>
      </table>
    </div>
     </td>
     <td width="18%">
       <div ex:role="facet" ex:expression=".result" ex:facetLabel="Result"
         id="result-facet"
         ex:height="5em"
         ex:fixedOrder="success;warnings;failure;exception"></div>
       <div ex:role="facet" ex:facetLabel="Missing"
         ex:expression=".missing"
         ex:facetClass="Slider">
       </div>
       <div ex:role="facet" ex:facetLabel="Warnings"
         ex:expression=".warnings"
         ex:facetClass="Slider">
       </div>
       <div ex:role="facet" ex:facetLabel="Reported"
         ex:expression=".report"
         ex:facetClass="Slider">
       </div>
       <div ex:role="facet" ex:expression=".tree" ex:facetLabel="Tree"
         ex:height="5em"
         id="tree-facet"></div>
       <div ex:role="facet" ex:expression=".locale" ex:facetLabel="Locale"
         ex:height="5em"
         id="locale-facet"></div>

       <div ex:role="facet" ex:expression=".locale.missing_webbugs"
         ex:height="5em" ex:facetLabel="Web bugs"></div>
       <div ex:role="facet" ex:expression=".apploc.shipped"
         ex:height="5em" ex:facetLabel="Shipped in ..." id="shipping-facet"></div>
       <div ex:role="facet" ex:expression=".signoff"
         ex:height="5em" ex:facetLabel="Sign-off" id="signoff-facet"></div>
     </td>
   </tr>
 </table>
{% endblock %}
