{% extends "base.html" %}
<!-- {% comment %}
   - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/.
{% endcomment %} -->
{% load compress %}
{% load staticfiles %}
{% load url from future %}

{% block head_matter %}
<link rel="stylesheet" href="{% static "shipping/css/dashboard.css" %}" type="text/css">
<link href="{% url 'shipping.views.status.status_json' %}?{{ query }}" type="application/json" rel="exhibit-data"/>
<style>
.progress {
    width: {{ PROGRESS_IMG_SIZE.x }}px;
    height: {{ PROGRESS_IMG_SIZE.y }}px;
    background-image: url("{% static PROGRESS_IMG_NAME %}{{ cachebuster }}");
}
</style>
{% endblock %}

{% block javascript_matter %}
<script src="{% static "simile/exhibit/exhibit-api.js" %}?persist=false"></script>
{% compress js %}
<script src="{% static "shipping/js/dashboard.js" %}"></script>
{% endcompress %}
{% endblock %}

{% block title_matter %}Sign-offs {% if subtitles %}({{ subtitles|join:", " }}){% endif %}{% endblock %}

{% block alt_header %}
<hgroup id="main-feature">
  <h1 class="large">Sign-offs {% if subtitles %}({{ subtitles|join:", " }}){% endif %}</h1>
</hgroup>
{% endblock %}

{% block body_content_class %}page-wider{% endblock %}

{% block content %}
 <div data-ex-role="collection" data-ex-item-types="Build"></div>
 <div data-ex-role="controlPanel" data-ex-show-bookmark="false"></div>
 <table width="100%" class="standard">
   <tr valign="top">
     <td data-ex-role="viewPanel" data-ex-showAll="true">
       <span data-ex-role="lens" class="comparison" data-ex-item-types="Comparison" style="display:none">
         <span  data-ex-content=".label"></span>
         <span data-ex-if-exists=".bug" class="bug"> (<a data-ex-href-subcontent="https://bugzilla.mozilla.org/show_bug.cgi?id={&#123;.bug}}" target="_blank">buglink</a>)</span>

         <span data-ex-if-exists=".comment" class="comment"> (<em data-ex-content=".comment"></em>)</span>
       </span>
    <div data-ex-role="view" data-ex-view-class="Tabular"
      data-ex-show-toolbox="false"
      data-ex-collectionID="buids"
      data-ex-column-labels="Locale, Tree, %, Errors, Missing, Warnings,
       Reported, Obsolete, Unchanged, Status, History, Sign-off"
      data-ex-columns=".locale, .tree, .completion, .errors, .missing,
       .warnings, .report, .obsolete,  .unchanged, .changed,
       .completion, .signoff"
      data-ex-cellSpacing="0">
      <table style="display:none;">
    <tr>
      <td class="locale_cell"><a data-ex-href-subcontent="{% url 'homepage.views.locale_team' '&#123;&#123;.locale&#125;&#125;' %}" data-ex-content=".locale"></a></td>
      <td data-ex-content=".tree" class-subcontent="tree_cell"></td>

      <td class="completion_cell" data-ex-content=".completion"></td>
      <td class="coverage_cell" data-ex-content=".errors"></td>
      <td class="coverage_cell" data-ex-content=".missing"></td>
      <td class="coverage_cell" data-ex-content=".warnings"></td>
      <td class="coverage_cell" data-ex-content=".report"></td>
      <td class="coverage_cell" data-ex-content=".obsolete"></td>
      <td class="coverage_cell" data-ex-content=".unchanged"></td>
      <td>
        <a data-ex-href-subcontent="{% url 'compare_locales' %}?run={&#123;.runid}}" target="_blank">
          <table class="stats">
               <tr>
                 <td title="changed" class="status changed" data-ex-width-subcontent="{&#123;.completion }}px"></td>
                 <td title="missing" class="status missing" data-ex-width-subcontent="{&#123;100 * .missing / .total}}px"></td>
                 <td title="unchanged" class="status unchanged" data-ex-width-subcontent="{&#123;100 * .unchanged / .total}}px"></td>
               </tr>
           </table>
         </a>
       </td>
       <td>
         <a data-ex-href-subcontent="{% url 'l10nstats.views.history_plot' %}?tree={&#123;.tree}}&amp;locale={&#123;.locale}}&amp;starttime={{ progress_start|date:"Y-m-d" }}">
           <div data-ex-if-exists=".background_offset_x" class="progress"
             data-ex-style-subcontent="background-position:{&#123; .background_offset_x }}px {&#123; .background_offset_y }}px"></div>
         </a>
       </td>
<td>
  <span data-ex-if="exists(.tree.appversion)">
  <span>
  <a data-ex-href-subcontent="{% url 'shipping.views.signoff.signoff' "&#123;&#123;.locale&#125;&#125;" "&#123;&#123;.tree.appversion&#125;&#125;" %}">
    <span data-ex-if="exists(.signoff )">
      <span data-ex-content=".signoff"></span>
      <span>none</span>
    </span>
  </a>
  </span>
  </span>
</td>
    </tr>
      </table>
    </div>
     </td>
     <td width="18%">
       <div data-ex-role="facet" data-ex-expression=".result" data-ex-facet-label="Result"
         id="result-facet"
         data-ex-height="5em"
         data-ex-fixed-order="success;warnings;failure;exception"></div>
       <div data-ex-role="facet" data-ex-facet-label="Missing"
         data-ex-expression=".missing"
         data-ex-facet-class="Slider">
       </div>
       <div data-ex-role="facet" data-ex-facet-label="Warnings"
         data-ex-expression=".warnings"
         data-ex-facet-class="Slider">
       </div>
       <div data-ex-role="facet" data-ex-facet-label="Reported"
         data-ex-expression=".report"
         data-ex-facet-class="Slider">
       </div>
       <div data-ex-role="facet" data-ex-expression=".tree" data-ex-facet-label="Tree"
         data-ex-height="5em" data-ex-scroll="false"
         id="tree-facet"></div>
       <div data-ex-role="facet" data-ex-expression=".locale" data-ex-facet-label="Locale"
         data-ex-height="5em"
         id="locale-facet"></div>
       <div data-ex-role="facet" data-ex-expression=".signoff"
         data-ex-missing-label="none"
         data-ex-height="5em" data-ex-facet-label="Sign-off" id="signoff-facet"></div>
       <div><a href="{% url 'shipping.views.index' %}?{{ request.GET.urlencode }}">Edit</a> this dashboard.</div>
     </td>
   </tr>
 </table>
{% endblock %}
