{% extends "shipping/base.html" %}
<!-- {% comment %}
   - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/.
{% endcomment %} -->
{% load simile %}
{% load compress %}

{% block title_matter %}Milestones{% endblock %}

{% block head_matter %}
<link href="{% url shipping.views.stones_data %}" type="application/json" rel="exhibit/data">
{% compress css %}
<link rel="stylesheet" href="{{ STATIC_URL }}shipping/css/milestones.css" type="text/css">
{% endcompress %}
{% exhibit autoCreate=false %}
{% endblock %}

{% block javascript_matter %}
{% compress js %}
<script src="{{ STATIC_URL }}shipping/js/milestones.js"></script>
{% endcompress %}
{% endblock %}

{% block content %}
<h1>Milestones</h1>

 <table class="standard">
   <tr>
     <td ex:role="viewPanel">
<div ex:role="view" ex:showAll="true" ex:ViewClass="Tabular"
  ex:columnLabels="Milestone"
  ex:columns=".label">
  <table>
    <tr>
      <td>
        <a ex:content=".label"
	   ex:class-subcontent="building-{&#123;.building}}"
        ex:href-subcontent="{% url shipping.views.milestone.about  "{&#123;.code}}" %}"></a>
      </td>
      <td>
        <span ex:if=".status = 2">
          <input type="button" {% if not perms.shipping.can_ship %}
          disabled="disabled"{% endif %}
          value="tweak" />
          <span>
            <span ex:if=".status = 0">
              <input type="button" {% if not perms.shipping.can_open %}
              disabled="disabled"{% endif %}
              ex:onclick-subcontent="doForm('open','{&#123;.code}}')"
                value="open" />
	<span>
              <input type="button" {% if not perms.shipping.can_ship %}
              disabled="disabled"{% endif %}
              ex:onclick-subcontent="doForm('ship','{&#123;.code}}')"
              value="ship" />
              <input type="button" {% if not perms.shipping.can_ship %}
              disabled="disabled"{% endif %}
              ex:onclick-subcontent="doForm('drill','{&#123;.code}}')"
              value="chem-spill" />
	</span>
            </span>
         </span>
       </span>
      </td>
    </tr>
  </table>
</div>
     </td>
     <td width="25%">
       <div ex:role="facet" ex:expression=".age"
         ex:facetLabel="Latest"
         ex:selection="0"
         id="age-facet"></div>
       <div ex:role="facet" ex:expression=".building"
         ex:facetLabel="Building"
         ex:selection="true"
         id="building-facet"></div>
    </td>
   </tr>
 </table>
<div style="display:none">
  <form id="open_ms" action="{% url shipping.views.open_mstone %}" method="post">{% csrf_token %}
  <input type="hidden" name="ms">
  </form>
  <form id="ship_ms" action="{% url shipping.views.confirm_ship_mstone %}">
  <input type="hidden" name="ms">
  </form>
  <form id="drill_ms" action="{% url shipping.views.confirm_drill_mstone %}">
  <input type="hidden" name="ms" />
  </form>
</div>

{% endblock %}
