{% extends "shipping/base.html" %}
<!-- {% comment %}
   - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/.
{% endcomment %} -->
{% load compress %}
{% load staticfiles %}

{% block title_matter %}Milestones{% endblock %}

{% block head_matter %}
<link href="{% url 'shipping.views.stones_data' %}" type="application/json" rel="exhibit-data">
{% compress css %}
<link rel="stylesheet" href="{% static "shipping/css/milestones.css" %}" type="text/css">
{% endcompress %}
{% endblock %}

{% block javascript_matter %}
<script src="{% static "simile/exhibit/exhibit-api.js" %}?persist=false"></script>
{% compress js %}
<script src="{% static "shipping/js/milestones.js" %}"></script>
{% endcompress %}
{% endblock %}

{% block content %}
<h1>Milestones</h1>

<div data-ex-role="controlPanel" data-ex-show-bookmark="false"></div>
 <table class="standard">
   <tr>
     <td data-ex-role="viewPanel">
<div data-ex-role="view" data-ex-showAll="true" data-ex-view-class="Tabular"
  data-ex-columnLabels="Milestone"
  data-ex-show-toolbox="false"
  data-ex-columns=".label">
  <table style="display:none;">
    <tr>
      <td>
        <a data-ex-content=".label"
	   data-ex-class-subcontent="building-{&#123;.building}}"
        data-ex-href-subcontent="{% url 'shipping.views.milestone.about'  "{&#123;.code}}" %}"></a>
      </td>
      <td>
        <span data-ex-if=".status = '{{ Milestone.SHIPPED }}'">
          <input type="button" {% if not perms.shipping.can_ship %}
          disabled="disabled"{% endif %}
          value="tweak" />
          <span>
            <span data-ex-if=".status = '{{ Milestone.UPCOMING }}'">
              <input type="button" {% if not perms.shipping.can_open %}
              disabled="disabled"{% endif %}
              data-ex-onclick-subcontent="doForm('open','{&#123;.code}}')"
                value="open" />
	<span>
              <input type="button" {% if not perms.shipping.can_ship %}
              disabled="disabled"{% endif %}
              data-ex-onclick-subcontent="doForm('ship','{&#123;.code}}')"
              value="ship" />
              <input type="button" {% if not perms.shipping.can_ship %}
              disabled="disabled"{% endif %}
              data-ex-onclick-subcontent="doForm('drill','{&#123;.code}}')"
              value="chem-spill" />
	</span>
            </span>
         </span>
       </span>
      </td>
    </tr>
  </table>
</div>
     </td>
     <td width="25%">
       <div data-ex-role="facet" data-ex-expression=".age"
         data-ex-facet-label="Latest"
         data-ex-selection="0"
         id="age-facet"></div>
       <div data-ex-role="facet" data-ex-expression=".building"
         data-ex-facet-label="Building"
         data-ex-selection="true"
         id="building-facet"></div>
    </td>
   </tr>
 </table>
You may be able to create <a href="{% url 'shipping.views.release.selectappversions4milestones' %}">new milestones</a>.
<div style="display:none">
  <form id="open_ms" action="{% url 'shipping.views.open_mstone' %}" method="post">{% csrf_token %}
  <input type="hidden" name="ms">
  </form>
  <form id="ship_ms" action="{% url 'shipping.views.confirm_ship_mstone' %}">
  <input type="hidden" name="ms">
  </form>
  <form id="drill_ms" action="{% url 'shipping.views.confirm_drill_mstone' %}">
  <input type="hidden" name="ms" />
  </form>
</div>

{% endblock %}
