{% extends "base.html" %}
<!-- {% comment %}
   - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/.
{% endcomment %} -->

{% load compress %}
{% block title_matter %}Outreach data{% endblock %}

{% block head_matter %}
{% compress css %}
<link rel="stylesheet" href="{{ STATIC_URL }}shipping/css/outreach.css" type="text/css">
{% endcompress %}
{% endblock %}

{% block javascript_matter %}
{% compress js %}
<script src="{{ STATIC_URL }}shipping/js/outreach.js"></script>
{% endcompress %}
{% endblock %}

{% block content %}
<h4>Outreach for {{apps|join:", "}} for aurora sign-offs prior to
{{auroradate}} and beta sign-offs prior to {{betadate}}:</h4>
<table id="results" class="standard">
  <tr>
    <th class="loc_head">Locale</th>
    {% for av in appvers %}
      <th class="entry_head" data-app="{{av.app}}">{{av}}</th>
    {% endfor %}
  </tr>
  {% for row in rows %}
    <tr>
      <td class="loc">{{row.loc}}</td>
        {% for entry in row.entries %}
          <td class="entry">
            {% if entry %}
              <a href="{% url shipping.views.signoff.signoff row.loc entry.av%}">{{entry.missing}}</a>
            {% endif %}
          </td>
        {% endfor %}
    </tr>
  {% endfor %}
</table>
<p><input type="button" value="Export to JSON" id="export"><br>
<textarea readonly id="json" cols="60" rows="20"></textarea>
</p>
{% endblock %}
