{% extends "base.html" %}
<!-- {% comment %}
   - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/.
{% endcomment %} -->

{% block title_matter %}Outreach{% endblock %}

{% block content %}
<h4>Select the applications for which you want to do outreach:</h4>
<form action="{% url shipping.views.outreach.data %}">
<p>
{% for app in apps %}
<input type="checkbox" value="{{app.code}}" name="app" checked>{{app}}<br>
{% endfor %}
</p>
<h4>Select the branches and dates to outreach for:</h4>
<input type="checkbox" value="beta" name="branch" checked>
Beta branch date (Y-M-D): <input type="text" value="{{betadate}}" name="betadate"><br>
<input type="checkbox" value="aurora" name="branch" checked>
Aurora branch date (Y-M-D): <input type="text" value="{{auroradate}}" name="auroradate"><br>
</p>
<input type="submit" value="Submit">
</form>
{% endblock %}
