{% extends "base.html" %}
<!-- {% comment %}
- This Source Code Form is subject to the terms of the Mozilla Public
- License, v. 2.0. If a copy of the MPL was not distributed with this
- file, You can obtain one at http://mozilla.org/MPL/2.0/.
{% endcomment %} -->
{% load compress %}

{% block title_matter %}Milestones Creation{% endblock %}

{% block javascript_matter %}
{% compress js %}
<script src="{{ STATIC_URL }}shipping/js/select-milestones.js"></script>
{% endcompress %}
{% endblock %}

{% block content %}
<h4>Select Milestones to create:</h4>
<form action="{% url shipping.views.release.create_milestones %}" method="POST">{% csrf_token %}
<select name="branch">
  <option value="beta" selected>Beta</option>
  <option value="aurora">Aurora</option>
</select>
<table class="standard appversions">
{% for app in apps %}
{% for av in app.avs %}
   <tr class="{{ av.branch }}">
    <td>
      {% if av.milestone.good %}
      <input type="checkbox" name="av" id="id_av_{{ app.app.code }}_{{ av.appversion.code }}" value="{{ av.appversion.code }}">
      {% endif %}
    </td>
    <td>
      {% if av.milestone.good %}
      <label for="id_av_{{ app.app.code }}_{{ av.appversion.code }}">{{ app.app }} {{ av.branch }}</label>
      {% else %}
      {{ app.app }} {{ av.branch }}
      {% endif %}
    </td>
    {% if av.milestone.good %}
    <td><input name="name-{{av.appversion.code}}" value="{{av.milestone.name}}"></td>
    <td><input name="code-{{av.appversion.code}}" value="{{av.milestone.code}}"></td>
    {% else %}
    <td colspan="2"></td>
    {% endif %}
  </tr>
{% endfor %}
{% endfor %}
</table>
<input type="submit" value="Submit">
</form>

{% endblock %}
