<!-- {% comment %}
   - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/.
{% endcomment %} -->
{% if not accepts_signoffs %}
  <div class="bad_signoff">
  We're not accepting sign-offs at this point.
  </div>
{% else %}
{% if good %}
  <div class="good_signoff">
  Technically, this looks good. You did test
    yourself, right?</div>
{% else %}
  <div class="bad_signoff">
  {% if doubled %}
    <p>There is already a sign-off for this revision.</p>
  {% endif %}
  {% if newer|length %}
    <p>There are {{newer|join:", "}} sign-off(s) for newer revisions.</p>
  {% endif %}
  {% if not run %}
    <p>There is no source check for this
      revision. This might not be a good revision to sign off on.</p>
  {% else %}
    {% if run.errors %}
      <p>There are {{ run.errors }} errors in the
        source check for this revision. This is not a good revision to sign
        off on.</p>
    {% endif %}
    {% if run.missing %}
      <p>There are {{ run.missing }}
        missing strings. Depending on the amount, and the release, this may
        be a reason for this sign-off to get rejected.</p>
    {% endif %}
  {% endif %}
  <p>You may want to pick a different
    revision.</p>
{% endif %}
{% endif %}
