<!-- {% comment %}
   - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/.
{% endcomment %} -->
{% if not accepts_signoffs %}
  <div class="bad_signoff">
  We're not accepting sign-offs at this point.
  </div>
{% else %}
{% if good %}
  <div class="good_signoff">
    <p>
      Congratulations, this looks good!
      {% if first %}
      This will be the first release of this locale. To sign off, please answer these questions:
      {% endif %}
    </p>
    {% if first %}
    <div>
      <p><label><input type="checkbox" class="first_signoff_needed"> Are you following your bugzilla component?</label></p>
      <p><label><input type="checkbox" class="first_signoff_needed"> Have you thoroughly tested your localization?</label></p>
      <p><label><input type="checkbox" class="first_signoff_needed"> Have you completed productization for your locale?</label></p>
      <p><label><input type="checkbox"> Are you progressing with the translation of all necessary web parts?</label></p>
      <p>
        <a href="mailto:l10n-drivers@mozilla.com?subject=Requesting%20localizer%20report%20for%20{{ language.code }}&amp;body=Hello,%0A%0APlease%20send%20me%20the%20weekly%20localizer%20reports.%0A%0AName:%0AEmail:%0ALocale:%20{{ language.code }}">
          Would you like to receive usage data for your locale?
        </a>
      </p>
    </div>
    {% endif %}
  </div>

{% else %}
  <div class="bad_signoff">
  {% if doubled %}
    <p>There is already a sign-off for this revision.</p>
  {% endif %}
  {% if newer|length %}
    <p>There are {{newer|join:", "}} sign-off(s) for newer revisions.</p>
  {% endif %}
  {% if not run %}
    <p>There is no source check for this
      revision. This might not be a good revision to sign off on.</p>
  {% else %}
    {% if run.errors %}
      <p>There are {{ run.errors }} errors in the
        source check for this revision. This is not a good revision to sign
        off on.</p>
    {% endif %}
    {% if run.missing %}
      <p>There are {{ run.missing }}
        missing strings. Depending on the amount, and the release, this may
        be a reason for this sign-off to get rejected.</p>
    {% endif %}
  {% endif %}
  <p>You may want to pick a different
    revision.</p>
{% endif %}
{% endif %}
