{% extends "base.html" %}
<!-- {% comment %}
   - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/.
{% endcomment %} -->
{% load compress %}
{% load url from future %}
{% block title_matter %}Sign-offs for {{appver}} in {{language}}{% endblock %}

{% block head_matter %}
{% compress css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.ui/smoothness/jquery-ui-1.10.3.custom.css" type="text/css">
{% endcompress %}
{% compress css %}
<link rel="stylesheet" href="{{ STATIC_URL }}shipping/css/signoffs.css" type="text/css">
{% endcompress %}
{% endblock %}

{% block javascript_matter %}
<script src="{{ STATIC_URL }}js/jquery.ui/jquery-ui-1.10.3.custom.min.js"></script>

<script>
var diffData = {
  locale: "{{lang.code}}",
  url: "{% url 'pushes.views.diff' %}"
};
var permissions = {
  canAddSignoff: {% if appver.accepts_signoffs %} {{ perms.shipping.add_signoff|yesno:"true,false" }}{% else %}false{% endif %},
  canReviewSignoff: {{ perms.shipping.review_signoff|yesno:"true,false" }}
};
var signoffDetailsURL = "{% url 'shipping.views.signoff.signoff_details' language.code appver.code %}";
</script>
{% compress js %}
<script src="{{ STATIC_URL }}shipping/js/signoffs.js"></script>
{% endcompress %}
{% endblock %}


{% block content %}
<ul>
  <li><a href="{% url 'shipping.views.dashboard' %}?av={{appver.code}}">{{appver}}</a></li>
  <li><a href="{% url 'homepage.views.locale_team' language.code %}">{{language}}</a></li>
</ul>
<h1>Sign-offs for {{appver}} in {{language}}</h1>
<p>{% if not appver.accepts_signoffs %}{{appver}} is not open for new sign-offs. It's either too early or too late
to do that.{% endif %}
{% if accepted %}There is {% if fallback %}a {{ real_av }} <a href="#{{fallback.tip.shortrev}}">fallback
signoff</a>{% else %}a <a href="#{{accepted.tip.shortrev}}">current accepted sign-off</a>{% endif %},
which is used for shipping {{appver}}.{% endif %}
{% if pending %}There is a <a href="#{{pending.tip.shortrev}}">pending
sign-off</a>, waiting to be reviewed. {% endif %}
{% if rejected %}There is a <a href="#{{rejected.tip.shortrev}}">rejected sign-off</a>. {% endif %}
{% if suggested_signoff %}There is a sourcestamp that technically
looks good to <a href="#{{suggested_signoff}}">sign off on</a>.{% endif %}
</p>
{% if perms.shipping.review_signoff %}
<div id="review_signoff" style="display:none">
  <form id="review_form" method="POST"
  action="{% url 'shipping.views.signoff.review_signoff' language.code  appver.code %}">{% csrf_token %}
  <input type="hidden" name="signoff_id" value="">
  <table>
    <tr>
      <td><input type="radio" name="action" value="accept"
      onchange="Review.accept(event)"></td>
      <td>Accept</td>
    </tr>
    <tr>
      <td><input type="radio" name="action" value="reject" onchange="Review.reject(event)"></td>
      <td>Reject</td>
    </tr>
    <tr>
      <td></td>
      <td>
	<input type="checkbox" name="clear_old" value="yes" disabled>
	Cancel other pending sign-offs
      </td>
    </tr>
    <tr>
      <td></td>
      <td><textarea name="comment" cols="60" disabled></textarea></td>
    </tr>
  </table>
  <input type="submit" value="Submit" disabled>
  </form>
</div>
{% endif %}
{% if perms.shipping.add_signoff %}
<div id="cancel_signoff" style="display:none">
  <form id="cancel_signoff_form" method="post"
  action="{% url 'shipping.views.signoff.cancel_signoff' language.code appver.code %}">{% csrf_token %}
  <input type="hidden" name="signoff_id" value="">
  <p>Cancel sign-off.</p>
  <input type="submit" value="Confirm cancellation">
  </form>
</div>

<div id="reopen_signoff" style="display:none">
  <form id="reopen_signoff_form" method="post"
  action="{% url 'shipping.views.signoff.reopen_signoff' language.code appver.code %}">{% csrf_token %}
  <input type="hidden" name="signoff_id" value="">
  <p>Re-open the canceled sign-off.</p>
  <input type="submit" value="Re-open">
  </form>
</div>

<div id="add_signoff" style="display:none">
  <form id="signoff_form" method="POST"
  action="{% url 'shipping.views.signoff.add_signoff' language.code  appver.code %}">{% csrf_token %}
  <input type="hidden" name="push" value="">
  <input type="hidden" name="run" value="">
  <div id="signoff_desc"></div>
  <input type="submit" value="Sign-off" name="submit">
  </form>
</div>
{% endif %}
<table id="pushtable" class="standard">
{% include "shipping/signoff-rows.html" %}
  <tr><td colspan="4" class="note">Loading more data will be part of
  <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=658656">bug 658656</a></td></tr>
{% if fallback %}
  <tr class="tree-change-spacer"></tr>
  <tr class="pushrow" id="{{fallback.tip.shortrev}}" data-push="{{fallback.tip.shortrev}}">
    <td class="push top bottom">{{fallback.push_date|date}}<br><span class="csuser">{{fallback.user}}</span></td>
    <td></td>
    <td class="rev_td">
      <div class="rev">Falling back to {{real_av}} at <a class="csuser" href="{{ fallback }}">
rev
<span class="shortrev" data-repo="fallback.repository.name">{{fallback.tip.shortrev}}</span>
</a></div>
    </td>
    <td class="diff"><div class="diffanchor"></div></td>
  </tr>
{% endif %}
</table>

{% endblock %}
