<!-- {% comment %}
   - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/.
{% endcomment %} -->
{% load url from future %}
<div id="applications">
  <h2>Applications &amp; Sign-offs <a href="#applications" class="permalink">#</a></h2>
  <p><em>See detailed numbers
  <a href="{% url 'shipping.views.dashboard' %}?locale={{locale.code}}{% for loc in other_team_locales %}&amp;locale={{ loc.code }}{% endfor %}"
  >on the dashboard &rarr;</a></em></p>

  {% for application, runs in applications %}
  <h2 id="{{ application.code }}">{{ application.name }} <a href="#{{ application.code }}" class="permalink">#</a></h2>
  <table class="standard trees">
      <thead>
          <tr>
              <th>Tree</th>
              <th>Translation Status</th>
              <th>Sign-off Status</th>
          </tr>
      </thead>
      <tbody>
      {% for run in runs %}
      <tr class="treesummary {#{% if run.allmissing %}hasmissing{% endif %} {% cycle 'odd' 'even' %}#}">
          <td class="treename">
              {{ run.tree.code }}
              {% ifnotequal run.locale_id locale.id %}
                <small class="locale-team">({{ run.locale.code }})</small>
              {% endifnotequal %}
          </td>
          <td class="treestatus">
              {% if run.errors %}
                  <a href="{% url 'l10nstats.views.compare' %}?run={{ run.id }}" class="error">
                      {{ run.errors }} errors
                  </a>
              {% endif %}
              {% if run.allmissing %}
                  <a href="{% url 'l10nstats.views.compare' %}?run={{ run.id }}" class="error">
                      {{ run.allmissing }} missing
                  </a>
              {% endif %}
              {% if not run.errors and not run.allmissing %}
              <a href="{% url 'l10nstats.views.compare' %}?run={{ run.id }}" class="translated">Translated</a>
              {% endif %}
              {# <small>{{ run.completion }} % changed</small>#}
              <table class="stats"><tbody><tr>
                  <td style="width:{{ run.missing_ratio }}px" class="status missing"></td>
                  <td style="width:{{ run.unchanged_ratio }}px" class="status unchanged"></td>
                  <td style="width:{{ run.changed_ratio }}px" class="status changed"></td>
              </tr></tbody></table>
          </td>
          <td class="signoffstatus">

  	    <!-- No status -->
  	    {% if not run.rejected and not run.suggested_shortrev and not run.pending and not run.accepted and run.appversion %}
                <a class="no-sign-offs" href="{% url 'shipping.views.signoff.signoff' run.locale.code run.appversion.code %}">No Sign-offs</a>
  	    {% else %}
                  <a class="no-sign-offs hidden" href="#">No Sign-offs</a>
  	    {% endif %}

              <!-- Rejected -->
              {% if run.rejected %}
                  <a class="rejected" href="{% url 'shipping.views.signoff.signoff' run.locale.code run.appversion.code %}#{{ run.rejected_rev }}">Rejected</a>
              {% else %}
                  <a class="rejected hidden" href="#">Rejected</a>
              {% endif %}

              <!-- Suggested -->
              {% if run.suggested_shortrev %}
                  <a class="suggested" href="{% url 'shipping.views.signoff.signoff' run.locale.code run.appversion.code %}#{{ run.suggested_shortrev }}">Suggested</a>
              {% else %}
                  <a class="suggested hidden" href="#">Suggested</a>
              {% endif %}

              <!-- Pending -->
              {% if run.pending %}
                  <a class="pending" href="{% url 'shipping.views.signoff.signoff' run.locale.code run.appversion.code %}#{{ run.pending_rev }}">Pending</a>
              {% else %}
                  <a class="pending hidden">Pending</a>
              {% endif %}

              <!-- Accepted -->
              {% if run.accepted %}
                  <a class="{% if run.fallback %}fallback{%else%}current{%endif%}" href="{% url 'shipping.views.signoff.signoff' run.locale.code run.appversion.code %}#{{ run.accepted_rev }}">
                      {% if run.fallback %}
                          {{ run.fallback }}
                      {% else %}Current{% endif %}
                  </a>
              {% else %}
                  <a class="current hidden" href="#">Current</a>
              {% endif %}

          </td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
    {% endfor %}

  </div>
