<!-- {% comment %}
   - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/.
{% endcomment %} -->
<div id="applications">
  <h2>Applications &amp; Sign-offs <a href="#applications" class="permalink">#</a></h2>

  <table class="trees show-head">
      <thead>
          <tr>
              <th>Project</th>
              <th>Tree</th>
              <th>Translation Status</th>
              <th>Progress</th>
              <th>Sign-offs <sup><a href="https://developer.mozilla.org/docs/Mozilla/Localization/Sign-off_reviews" title="Help">?</a></sup></th>
              <th>Actions <sup><a href="https://developer.mozilla.org/docs/Mozilla/Localization/Sign-off_reviews" title="Help">?</a></sup></th>
          </tr>
      </thead>
      <tbody>
      {% for application, runs in context.applications %}
      {% with firstapp=forloop.first %}
      {% if not forloop.first %}
      <tr class="separator"><td colspan="6"></td></tr>
      {% endif %}
      {% for run in runs %}
      <tr class="treesummary{% if forloop.first %} topline{% if firstapp %} toprow{% endif %}{% endif %}">
      {% if forloop.first %}
          <td class="appname " rowspan="{{ runs|length }}">
            <h3 id="{{ application.code }}">{{ application.name }} <a href="#{{ application.code }}" class="permalink">#</a></h3>
          </td>
      {% endif %}
          <td class="tree-or-av {% cycle 'odd-td' 'even-td' as runcycle %}">
              {% if run.appversion %}
              <span class="treename">{{ run.appversion.version }}</span> - {{ run.tree.code }}
              {% else %}
              <span class="treename">{{ run.tree.code }}</span>
              {% endif %}
              {% ifnotequal run.locale.id context.locale.id %}
                <span class="locale-team">({{ run.locale.code }})</span>
              {% endifnotequal %}
          </td>
          <td class="treestatus {{ runcycle }}">
              {% if run.errors %}
                  <a href="{% url 'compare-locales' %}?run={{ run.id }}" class="error">
                      {{ run.errors }} errors
                  </a>
              {% endif %}
              {% if run.warnings %}
                  <a href="{% url 'compare-locales' %}?run={{ run.id }}" class="warnings-text">
                      {{ run.warnings }} warnings
                  </a>
              {% endif %}
              {% if run.allmissing %}
                  <a href="{% url 'compare-locales' %}?run={{ run.id }}" class="error">
                      {{ run.allmissing }} missing
                  </a>
              {% endif %}
              {% if not run.errors and not run.allmissing %}
              <a href="{% url 'compare-locales' %}?run={{ run.id }}" class="translated">Translated</a>
              {% endif %}
              {# <small>{{ run.completion }} % changed</small>#}
              <table class="stats"><tbody><tr>
                  <td style="width:{{ run.missing_ratio }}px" class="status missing"></td>
                  <td style="width:{{ run.unchanged_ratio }}px" class="status unchanged"></td>
                  <td style="width:{{ run.changed_ratio }}px" class="status changed"></td>
              </tr></tbody></table>
          </td>
          <td class="treeprogress {{ runcycle }}">
            <a href="{% url 'locale-tree-history' %}?tree={{run.tree.code}}&amp;locale={{run.locale.code}}&amp;starttime={{ context.progress_start|date:"Y-m-d" }}">
              <div class="progress-thumb tree-{{run.tree.code}} loc-{{run.locale.code}}"></div>
            </a>
          </td>
          <td class="signoffs status{% if not run.fallback %} ok{% endif %} {{ runcycle }}">
              <!-- Accepted -->
              {% if run.accepted %}
                     {% if run.fallback %}
                     <span class="oi status-fallback" data-glyph="warning"></span> {{ run.fallback }}
                     {% elif run.suggested_shortrev or run.under_review %}<span class="oi status-ok" data-glyph="graph"></span>
                     {% else %}<span class="oi status-ok" data-glyph="check"></span>{% endif %}
              {% endif %}
          </td>
          <td class="signoffs actions {{ runcycle }}">
        <!-- closed -->
        {% if not run.appversion.accepts_signoffs %}
            <a href="{% url 'shipping-signoff' run.locale.code run.appversion.code %}"
               class="closed-sign-offs">Not open</a>
        <!-- old -->
        {% elif not run.is_active %}
            <a href="{% url 'shipping-signoff' run.locale.code run.appversion.code %}"
               class="button button-white no-sign-offs">
                   <span class="oi status-fallback" data-glyph="warning"></span>Needs update
            </a>
        <!-- No status -->
        {% elif not run.actions and not run.suggested_shortrev %}
            <a href="{% url 'shipping-signoff' run.locale.code run.appversion.code %}"
               class="button button-white no-sign-offs">
                   {% if run.suggested_shortrev %}Sign off{% else %}Up to date{% endif %}
            </a>
        {% else %}
            {% for action in run.actions %}
              <a class="button button-white {{ action.flag_name }}" href="{% url 'shipping-signoff' run.locale.code run.appversion.code %}#{{ action.rev }}">
                  {% if action.flag_name == "pending" %}
                  <span class="oi" data-glyph="magnifying-glass"></span>In Review
                  {% else %} {# rejected #}
                  <span class="oi" data-glyph="x"></span>Rejected
                  {% endif %}
              </a>
            {% endfor %}
            <!-- Suggested -->
            {% if run.suggested_shortrev %}
                <a class="button button-white" href="{% url 'shipping-signoff' run.locale.code run.appversion.code %}#{{ run.suggested_shortrev }}">
                    <span class="oi suggest-{{ run.suggest_class }}" data-glyph="{{ run.suggest_glyph }}"></span>
                    Sign off?
                </a>
            {% endif %}
        {% endif %}
          </td>
      </tr>
      {% endfor %}
      {% endwith %}
      {% endfor %}
      </tbody>
    </table>
  <p><em>See detailed numbers
  <a href="{% url 'dashboard' %}?locale={{context.locale.code}}{% for loc in context.other_team_locales %}&amp;locale={{ loc.code }}{% endfor %}"
  >on the dashboard &rarr;</a></em></p>

  </div>
