{% extends "base.html" %}
{% load build_extras %}
{% block title_matter %}Builds{% endblock %}
{% block head_matter %}
<script type="application/javascript">
var delay = 5*60*1000;
var random = 0;
var maxrows = 50;
$.ajaxSettings.traditional=true; // no idea what jquery1.4 does natively
var params = {
{% for k, v in params %}
  "{{k|escapejs}}" : [{% for vv in v %}"{{vv|escapejs}}"{% if not forloop.last %}, {% endif %}{% endfor %}]{% if not forloop.last %},{%endif%}
{% endfor %}
};
function onTimeout() {
  var last_id = $('#buildrows>tbody>tr:not([class*=pending])').attr('id');
  last_id = last_id.match('stamp_([0-9]+)')[1];
  random += 1;
  params['after'] = last_id;
  params['random'] = random;
  $.get('{% url tinder_update_tbpl %}', params,
        function(data, res) {
          if (res == 'success' && data) {
            $('#buildrows>tbody>tr[class*=pending]').remove()
            $("#buildrows").children('tbody').prepend(data);
            var rows = $("#buildrows tr");
            if (rows.length > maxrows) {
              $("#buildrows tr").filter(":gt("+maxrows+")[id]").nextAll().andSelf().remove();
           }
          }
          window.setTimeout(onTimeout, delay);
        });
}
var _timeout;
$(document).ready(function() {
  _timeout = window.setTimeout(onTimeout, delay);
  document.body.addEventListener("offline",
    function(){
      if (_timeout) {
        window.clearTimeout(_timeout);
        _timeout = null;
      }
    },
    false);
  document.body.addEventListener("online",
    onTimeout,
    false);
});

</script>
<style type="text/css">
.success {background-color: green;}
.warning {background-color: orange;}
.failure {background-color: red;}
.skip {background-color: yellow;}
.except {background-color: purple;}
.buildbox {float: left; padding: 0.25em; margin: 0.25em;}
.stamp {clear: left; }
.changes {background-color: lightgrey; padding: 0.25em;}
.who {background-color: lightgrey;  padding: 0.25em;}
.top {-moz-border-radius-topleft: 10px}
.bottom {-moz-border-radius-bottomleft: 10px}
</style>
{% endblock %}
{% block content %}
<h1>Builds</h1>
<div>
<table id="buildrows">
{% include "tinder/tbpl-rows.html" %}
</table>
{% endblock %}
