{% extends "base.html" %}
{% load build_extras %}
{% block title_matter %}Waterfall{% endblock %}
{% block head_matter %}
<script type="application/javascript">
</script>
<link rel="stylesheet" type="text/css"
href="{% url static path="waterfall.css" %}">
<style type="text/css">

</style>
{% endblock %}
{% block content %}
<h1>Waterfall</h1>
  <div class="timesintro">
    Showing builds from {{ times.start_t|date:"M j, H:i" }} until
    {{ times.end_t|date:"M j Y, H:i T" }}.
  </div>
  {% if not times.isEnd %}
  <div class="previous links">
  Builds for the previous
    {% for h in times.hourlist %}
    <a href="?{{ filters }}hours={{ h }}&starttime={{ times.end }}">{{ h }}</a>
    {% endfor %} hours.
  </div>
  {% endif %}
<table id="water" border="1" cellspacing="0">
  <thead>
    <tr>
      {% for head in heads %}
      <th colspan="{{head.span}}">{{head.name}}</th>
      {% endfor %}
    </tr>
    </thead>
    <tbody>
      {% for row in rows %}
      <tr>
	{% for cell in row %}
	<td rowspan="{{cell.rowspan}}" class="{{cell.class}}">
	  {{ cell.obj|showbuild }}
	</td>
	{% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="next links">
  Builds for the next 
    {% for h in times.hourlist %}
    <a href="?{{ filters }}hours={{ h }}&endtime={{ times.start }}">{{ h }}</a>
    {% endfor %} hours.
  </div>
{% endblock %}
