{% extends "base.html" %}
<!-- {% comment %}
   - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/.
{% endcomment %} -->
{% load recurse %}
{% load compress %}
{% load url from future %}
{% block title_matter %}
Comparison for {{ run.tree.code }}-{{run.locale.code }} ({{ run.build.buildnumber }}) {% endblock %}
{% block head_matter %}
{% compress css %}
<link rel="stylesheet" href="{{ STATIC_URL }}l10nstats/css/compare.css" type="text/css">
{% endcompress %}
{% endblock %}
{% block content %}
<h2>Comparison for {{ run.tree.code }}-{{ run.locale.code }}</h2>
<p id="backlink"><a href="{% url 'tinder_show_build' run.build.builder.name run.build.buildnumber %}">Build {{ run.build.buildnumber }}</a> from
{{ run.build.starttime|date }} {{ run.build.starttime|time }}</p>
<div id="stats">
{{ run.completion }}% changed, ignoring {{ run.keys }} keys
<table class="stats">
<tr>
<td title="changed" class="status changed" width="{{ widths.changed }}px">
<td title="missing" class="status missingkeys" width="{{ widths.missing }}px">
<td title="missing in new files" class="status missingkeys" width="{{ widths.missingInFiles }}px">
<td title="reported entries with fallback" class="status missingkeys" width="{{ widths.report }}px">
<td title="unchanged" class="status unchanged" width="{{ widths.unchanged }}px">
</tr>
</table>
{% if run.missing or run.missingInFiles %}
<p id="missing">
{% if run.missing %}
{{ run.missing }}  entries missing in existing files{% if run.missingInFiles %}, {% endif %}
{% endif %}{% if run.missingInFiles %}
{{ run.missingInFiles }} entries missing in new files
{% endif %}
</p>
{% endif %}
</div>



{% ifnotequal nodes None %}
{% if nodes %}
  <p id="blurb">
  Below you see the files and localizable strings missing and obsolete. The obsolete ones are striked through and grey. The data is organized hierarchically, the full path for a file is available as an tooltip.
  </p>
{% else %}
  <p>No further details for this comparison.</p>
{% endif %}

<div>
{% recurse_children %}
{% for node in nodes %}
<div class="json-child">
  {% if node.fileIs %}
  <div class="{{ node.fileIs }}File">
    <span title="{{ node.path }}">{{ node.fragment }}</span>
  </div>
  {% else %}
  <div class="file-path">
     <span title="{{ node.path }}">{{ node.fragment }}</span>
   </div>
  {% if node.entities or node.errors %}
   <div class="diff">
     {% for e in node.entities %}<div class="{{ e.class }}">{{ e.key }}</div>
     {% endfor %}
   </div>
  {% else %}
   {% if node.children %}
   {% recurse node as nodes %}
   {% else %}
   {{ node.fragment }}
   {{ node.value }}
   {% endif %}
 {% endif %}
{% endif %}
</div>

{% endfor %}
{% endrecurse %}
</div>
{% else %}

  <p>Detailed information for this comparison is not available.</p>

{% endifnotequal %}
{% endblock %}
