{% extends "l10nstats/timeplot_base.html" %}
<!-- {% comment %}
   - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/.
{% endcomment %} -->
{% load compress %}
{% load staticfiles %}

{% block title_matter %}[{{ locale}}, {{ tree }}] l10n stats{% endblock %}

{% block timeplot_styles %}
<link rel="stylesheet" href="{% static "l10nstats/css/history.css" %}" type="text/css">
{% endblock %}
{% block links %}
<link rel="compare-locales" href="{% url "compare-locales" %}" type="application/json">
<link rel="api" href="{% url "api-history" %}" type="application/json">
{% endblock %}

{% block timeplot_scripts %}
<script src="{% static "l10nstats/js/history.js" %}"></script>
{% endblock %}

{% block content %}
<h2>Statistics for {{ locale }} on {{ tree }}</h2>
<div id="my-timeplot"><x-spinner /></div>

<p class="divider"></p>
<h5>Legend</h5>
<p>Missing strings are depicted as red area, the circle markers are
links to the detailed stats. The black line is obsolete strings. Both
are drawn to the left scale. Unchanged strings are depicted by the grey
area, drawn to the right scale.</p>
{% endblock %}
