{% extends "l10nstats/timeplot_base.html" %}
<!-- {% comment %}
   - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/.
{% endcomment %} -->
{% load compress %}
{% load url from future %}

{% block title_matter %}[{{ locale}}, {{ tree }}] l10n stats{% endblock %}

{% block timeplot_styles %}
{% compress css %}
<link rel="stylesheet" href="{{ STATIC_URL }}l10nstats/css/timeplot.css" type="text/css">
<link rel="stylesheet" href="{{ STATIC_URL }}l10nstats/css/history.css" type="text/css">
{% endcompress %}
{% endblock %}

{% block timeplot_extra_js %}
<script>
var tree = "{{ tree }}", locale = "{{ locale }}";
var compare_link = "{% url 'l10nstats.views.compare' %}";
</script>
{% endblock %}

{% block timeplot_scripts %}
{% compress js %}
<script src="{{ STATIC_URL }}l10nstats/js/timeplot.js"></script>
<script src="{{ STATIC_URL }}l10nstats/js/history.js"></script>
{% endcompress %}
{% endblock %}

{% block content %}
<h2>Statistics for {{ locale }}, {{ tree }}, {{starttime.date}}-{{endtime.date}}</h2>
<div id="my-timeplot" style="height: 400px;"></div>
<div class="legend" style="float:right">
  left scale:
  red area: missing<br>
  black line: obsolete<br>
  right scale, grey area: unchanged
</div>
<div id="txtData" style="display:none">{% for run in runs %}
{{ run.srctime.isoformat }}Z,{{ run.run }},{{ run.missing }},{{ run.obsolete }},{{ run.unchanged }}{% endfor %}
</div>

<div style="clear:right">&nbsp;</div>

{% endblock %}
