<!-- {% comment %}
   - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/.
{% endcomment %} -->

<h2>Active trees</h2>
{% if trees %}
<ul>{% for tree in trees %}
  <li>{{tree}}:
  <a href="{% url 'l10nstats.views.index' %}?tree={{tree}}">dashboard</a>
  <a href="{% url 'l10nstats.views.tree_progress' tree %}">progress</a></li>
{% endfor %}
{% else %}
<p>No trees active in the last week.</p>
{% endif %}
