{% extends "l10nstats/timeplot_base.html" %}
<!-- {% comment %}
   - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/.
{% endcomment %} -->
{% load compress %}

{% block title_matter %}{{ tree }} l10n stats{% endblock %}

{% block timeplot_styles %}
{% compress css %}
<link rel="stylesheet" href="{{ STATIC_URL }}l10nstats/css/timeplot.css" type="text/css">
<link rel="stylesheet" href="{{ STATIC_URL }}l10nstats/css/tree_progress.css" type="text/css">
{% endcompress %}
{% endblock %}

{% block timeplot_extra_js %}
<script>
var tree = "{{ tree }}";
var SHOW_BAD = {{ showBad|yesno:"true,false" }}
var BOUND = {{ bound }};

var LOCALE_DATA = [{% for item in data %}
    {time: new Date({{item.srctime}} * 1000), locales: {{ item.locales|safe }}}{% if not forloop.last %},{% endif %}{% endfor %}
];
</script>
{% endblock %}

{% block timeplot_scripts %}
{% compress js %}
<script src="{{ STATIC_URL }}l10nstats/js/timeplot.js"></script>
<script src="{{ STATIC_URL }}l10nstats/js/clusterer.js"></script>
<script src="{{ STATIC_URL }}l10nstats/js/tree_progress.js"></script>
{% endcompress %}
{% endblock %}

{% block alt_header %}
<hgroup id="main-feature">
  <h1 class="large">Statistics for {{ tree }}</h1>
  <h2>String completeness for {{ tree }} localizations over time.</h2>
</hgroup>
{% endblock %}

{% block content %}
<div id="my-timeplot"></div>
<div class="legend" style="float:right">
  <input type="checkbox" onchange="update({showBad:event.target.checked});" id="showBadField">red area: locales with missing strings<br>
  shaded area: locales with <input type="text" size="3" id="boundField" onchange="update({bound:Number(event.target.value)})"> missing strings<br>
  green area: good locales
</div>
<div id="histogram">
</div>
{% endblock %}
