/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.blog-links {
    list-style: none;
}
.blog-links li {
    margin-bottom: .5em;
}
body#home > header {
    height: auto;
}

@media (max-width: 960px) {
    #blogroll aside section {
        float: left;
        background-image: none;
        margin: 0 0 30px 0;
        padding: 10px 15px;
        min-width: 0;
        width: 93%;
        border-radius: 4px;
        box-shadow: 1px 1px 4px #999;
        overflow: auto;
    }
    #blogroll aside h1 {
        padding-bottom: 5px;
    }
}
