/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

h2 {
    margin-bottom: 22px;
}

.introduction {
    margin-bottom: 60px;
    width: 960px;
}

.introduction video {
    float: left;
    padding-left: 10px;
}

.introduction article {
    float: right;
    width: 300px;
    padding-right: 10px;
}

.introduction article .button {
    width: 200px;
    height: 40px;
    font-family: 'Open Sans Light', 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.introduction article .button span {
    margin-top: 10px;
    background-position: 160px 0;
}

.content article {
    float: left;
    margin: 0 10px;
    width: 300px;
}

.content article:nth-child(2) {
    margin: 0 30px;
    width: 260px;
}

.content .chzn-container .chzn-results {
    max-height: 150px;
}

.twitter-follow-button {
    display: block;
    min-height: 45px;
}

.content .blog-links {
    list-style: none;
}

.content .blog-links li {
    border-bottom: 1px dotted #D6D6D6;
    margin: 0 0 .5em 0;
    padding-bottom: 5px;
}

.content .blog-links li:last-child {
    border-bottom: none;
}

.content .blog-links li a:after {
    content:" »";
}
