/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */


.subnav {
    width: 100%;
    height: 36px;
    background-color: #eeeeee;
    border: 1px solid #d3d3d3;
    margin-bottom: 14px;
}

.subnav ul {
    padding: 0;
    margin: 0 0 9px 25px;
    margin-bottom: 0px;
    margin-left: 0px;
    list-style: none outside none;
}

.subnav ul li {
    float: left;
    line-height: 18px;
    list-style: none outside none;
}

.subnav li a:hover {
    color: rgb(119, 119, 119);
    background-color: rgb(233, 233, 233);
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.05) inset;
}

.subnav li a {
    padding-right: 12px;
    padding-left: 12px;
    padding-top: 11px;
    padding-bottom: 11px;
    display: block;
    border-right: 1px solid #d3d3d3;
    line-height: 14px;
}

.subnav li.last a {
   border-right: none
}

.subnav li a.external-link {
    padding-right: 15px;
}

/* keep showing theads */
.show-head > thead {
    position: sticky;
    top: 0;
}

/* scroll offset */
.appname h3 {
    padding-top: calc(14pt + 2px + 1em);
    margin-top: calc(-14pt - 2px - 1em);
}

/* cycling backgrounds in snippet tables */

.cycling th {
    color: #9d9d9d;
    font-weight: normal;
    font-style: italic;
    padding: 0.5em 0;
    /* copied from sandstone */
    background-color: #F9F9F9;
    border-bottom: 1px solid #d3d3d3;
}

.cycling {
    margin-bottom: 2em;
}

.cycling tr:first-child > td {
    border-top: 1px solid #d3d3d3;
}

.cycling td {
    border-left: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
    padding: 0.75em;
}

.cycling tr {
    background: #ffffff;
}

.cycling tr:nth-child(odd) {
    background: #eeeeee;
}

.cycling tbody td:last-child {
    border-right: 1px solid #d3d3d3;
}

/* loading information for bugzilla */
#bugzilla.not-loaded > .buglist,
#bugzilla.failed > .buglist {
    display: none;
}
#bugzilla.not-loaded > .failed,
#bugzilla.loaded > .failed
{
    display: none;
}
