/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#teams {
  -moz-column-width: 35ex;
  -webkit-column-width: 35ex;
  column-width: 35ex;
}
#teams > li {
  list-style-type: none;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  margin-bottom: -1px;
  padding: 5px;
  margin-right: 5ex;
}
