/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.children {
  padding-left:1em;
}
.diff {
  padding-left: 2ex;
}
.line-added, .file-added, .file-copied {
  color: green;
}
.line-removed, .file-removed {
  color: red;
}
.empty-diff {
  font-size: small;
}
.replace {
  background-color: orange;
}
.delete {
  background-color: red;
}
.insert {
  background-color: #66ff00;
}
.renamed, .copied {
  font-size: small;
}
table.diff {
  margin-left: 20px;
}
table.diff td {
  vertical-align: top;
  padding-left: 10px;
  padding-bottom: 1px;
}
/* this is for visual grouping when a key is spread
   across two changed lines.
   Then we want to visally indicate that these two
   belong together */
tr.line-newval td {
  padding-bottom: 5px;
}
.ui-accordion .ui-accordion-header .ui-icon {
  position: absolute;
  left: 0.5em;
  top: 50%;
  margin-top: -8px;
}
.ui-accordion-icons .ui-accordion-header a {
    padding-left: 1.2em;
}
