{% extends "base.html" %}
<!-- {% comment %}
   - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/.
{% endcomment %} -->
{% load build_extras %}
{% load compress %}
{% block title_matter %}{{ build.builder.name }} build {{ build.buildnumber }}{% endblock %}
{% block head_matter %}
{% compress css %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}tinder/css/showbuild.css">
{% endcompress %}
{% endblock %}
{% block content %}
<h1>{{ build.builder.name }} build {{ build.buildnumber }}</h1>
<dl id="steps">
{% for step in steps %}
<dt>{{ step.text|join:" " }}</dt>
<dd>
  {% for log in step.logs.all %}
 <a href="{% url showlog build.builder.master.name,log.filename%}">{{log.name}}</a>
  {% endfor %}
  {{ step.starttime|timedelta:step.endtime }}</dd>
{% endfor %}
</dl>
<p>Total build time was
{{build.starttime|timedelta:build.endtime}}</p>
<h3>Build properties:</h3>
<table class="standard">
{% for p in props %}
<tr><td>{{ p.0 }}</td><td>{{ p.1 }}</td></tr>
{% endfor %}
</table>
{% endblock %}
