<!-- {% comment %}
   - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/.
{% endcomment %} -->
{% load build_extras %}
{% load url from future %}
{% for stamp in stamps %}
{% for change in stamp.changes %}
<tr {% if forloop.first %}id="stamp_{{stamp.id}}"{% endif %}
  {% if stamp.pending or stamp.is_running %}class="pending"{% endif %}>
<td class="changes{% if forloop.first %} top{% endif %}{% if forloop.last %}  bottom {% endif %}" title="{{ change.comments }}">
 <a href="{{ change.url }}">{{ change.revision }}</a>
</td>
<td class="who" title="{{ change.comments }}">{{ change.who }}</td>
{% if forloop.first %}
<td class="build" rowspan="{{ stamp.changes|length }}">
{% for build in stamp.builds %}
<div class="buildbox {{build.build|res2class}}">
  {%if build.end %}
  <a target="_blank" href="{% url 'tinder.views.showbuild' build.builder build.number %}">{{ build.props.tree }} {{ build.props.locale }}</a>
  {% else %}
  {{ build.build|showbuild }}
  {% endif %}
</div>
{% endfor %}
{% if  stamp.pending %}
<div class="buildbox">{{ stamp.pending }} more &hellip;<div>
{% endif %}
</td>
{% endif %}
</tr>
{% endfor %}
{% endfor %}
