{% extends "base.html" %}
<!-- {% comment %}
   - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/.
{% endcomment %} -->
{% load compress %}
{% load build_extras %}

{% block title_matter %}Builds{% endblock %}

{% block head_matter %}
{% compress css %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}tinder/css/tbpl.css">
{% endcompress %}
{% endblock %}

{% block javascript_matter %}
<script>
var delay = 5*60*1000;
var random = 0;
var maxrows = 50;
$.ajaxSettings.traditional=true; // no idea what jquery1.4 does natively
var params = {
{% for k, v in params %}
  "{{k|escapejs}}" : [{% for vv in v %}"{{vv|escapejs}}"{% if not forloop.last %}, {% endif %}{% endfor %}]{% if not forloop.last %},{%endif%}
{% endfor %}
};
var onTimeout;
function updateOnTimeout() {
  var last_id = $('#buildrows>tbody>tr:not([class*=pending])').attr('id');
  last_id = last_id.match('stamp_([0-9]+)')[1];
  random += 1;
  params['after'] = last_id;
  params['random'] = random;
  $.get('{% url tinder_update_tbpl %}', params,
        function(data, res) {
          if (res == 'success' && data) {
            $('#buildrows>tbody>tr[class*=pending]').remove()
            $("#buildrows").children('tbody').prepend(data);
            var rows = $("#buildrows tr");
            if (rows.length > maxrows) {
              $("#buildrows tr").filter(":gt("+maxrows+")[id]").nextAll().andSelf().remove();
           }
          }
          window.setTimeout(onTimeout, delay);
        });
}
if ('before' in params) {
  onTimeout = function(){};
}
else {
  onTimeout = updateOnTimeout;
}
var _timeout;
$(document).ready(function() {
  _timeout = window.setTimeout(onTimeout, delay);
  document.body.addEventListener("offline",
    function(){
      if (_timeout) {
        window.clearTimeout(_timeout);
        _timeout = null;
      }
    },
    false);
  document.body.addEventListener("online",
    onTimeout,
    false);
});

</script>
{% endblock %}
{% block content %}
<h1>Builds</h1>
<div>
<table id="buildrows">
{% include "tinder/tbpl-rows.html" %}
</table>
{% endblock %}
