{% extends "base.html" %}
<!-- {% comment %}
   - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/.
{% endcomment %} -->
{% load build_extras %}
{% load compress %}
{% load staticfiles %}
{% block title_matter %}Waterfall{% endblock %}
{% block head_matter %}
{% compress css %}
<link rel="stylesheet" type="text/css" href="{% static "tinder/css/waterfall.css" %}">
{% endcompress %}
{% endblock %}
{% block content %}
<h1>Waterfall</h1>
  <div class="timesintro">
    Showing builds from {{ times.start_t|date:"M j, H:i" }} until
    {{ times.end_t|date:"M j Y, H:i T" }}.
  </div>
  {% if not times.isEnd %}
  <div class="previous links">
  Builds for the previous
    {% for h in times.hourlist %}
    <a href="?{{ filters }}hours={{ h }}&amp;starttime={{ times.end }}">{{ h }}</a>
    {% endfor %} hours.
  </div>
  {% endif %}
<table id="water">
  <thead>
    <tr>
      {% for head in heads %}
      <th colspan="{{head.span}}">{{head.name}}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for row in rows %}
      <tr>
      {% for cell in row %}
      <td rowspan="{{cell.rowspan}}" class="{{cell.class}}">
        {{ cell.obj|showbuild }}
      </td>
      {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>
<div class="next links">
  <p>
  Builds for the next
  {% for h in times.hourlist %}
  <a href="?{{ filters }}hours={{ h }}&amp;endtime={{ times.start }}">{{ h }}</a>
  {% endfor %} hours.
  </p>
</div>
{% endblock %}
