{% extends "base.html" %}
{% comment %} Redirect title to title_matter {% endcomment %}
{% block title_matter %}{% block title %}{% endblock %}{% endblock %}
{% block head_matter %}
{% block js_include %}{% endblock %}
    <script type="text/javascript">
{% block javascript %}{% endblock %}
    </script>
{% block style_include %}{% endblock %}
    <style type="text/css">

a {
  color: #229;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body > p {
  margin: 10px;
}

.nav {
  background-color: #eef;
  padding: 10px;
  border-bottom: 1px solid #aac;
}

.nav a {
  margin-left: 15px;
}

h3 {
  font-size: larger;
  margin-left: 10px;
  color: #224;
}

fieldset.note {
  padding: 5px;
  margin: 10px 0;
}

fieldset.note legend {
  font-weight: bold;
  padding: 2px 5px 0px;
}

fieldset.info {
  background-color: #99ff99;
  border: 1px solid #55aa55;
}

fieldset.info legend {
  background-color: #99ff99;
  border-top: 1px solid #55aa55;
  border-left: 1px solid #88cc88;
  border-right: 1px solid #88cc88;
}

fieldset.warning {
  background-color: #ffff99;
  border: 1px solid #dddd00;
}

fieldset.warning legend {
  background-color: #ffff99;
  border-top: 1px solid #dddd00;
  border-left: 1px solid #ffff00;
  border-right: 1px solid #ffff00;
}

fieldset.error {
  color: white;
  background-color: #bb0000;
  border: 1px solid #550000;
}

fieldset.error legend {
  color: white;
  background-color: #bb0000;
  border-top: 1px solid #990000;
  border-left: 1px solid #990000;
  border-right: 1px solid #990000;
}

{% block style %}{% endblock %}
    </style>
{% endblock %}
