{% extends "shipping/base.html" %}

{% block title %}Shipping {{ mstone }}{% endblock %}

{% block content %}
<h1>Shipping {{ mstone }}</h1>
{% if pending_locs %}
<p class="warning">
There are pending sign-offs for {{ pending_locs|join:", " }}.
</p>
{% else %}
<p class="good">
There are no pending sign-offs.
</p>
{% endif %}
<p>You'd be shipping {{ good }} locales with
<a href="{% url shipping.views.shipped_locales %}?ms={{ mstone.code }}" target="_blank">shipped-locales</a>
and
<a href="{% url shipping.views.l10n_changesets %}?ms={{ mstone.code }}" target="_blank">l10n-changesets</a>.
</p>
<form id="ship" method="POST"
  action="{% url shipping.views.ship_mstone %}">
<input type="hidden" name="ms" value="{{ mstone.code }}" />
<input type="submit" {% if not perms.shipping.can_ship %}
          disabled="disabled"{% endif %} value="Ship it" />
</form>
{% endblock %}
