{% extends "shipping/base.html" %}
{% load simile %}

{% block title %}Milestones{% endblock %}

{% block js_include %}
{% exhibit autoCreate=false %}
<link href="{% url shipping.views.stones_data %}" type="application/json" rel="exhibit/data" />
{% endblock %}

{% block javascript %}
var schema = {}

$(document).ready(function() {
  window.database = Exhibit.Database.create();
  window.database.loadData(schema);
  window.database.loadDataLinks(function(){
    window.exhibit = Exhibit.create();
    window.exhibit.configureFromDOM();
  });
});

function doForm(action, ms) {
  var frm = document.getElementById(action + '_ms');
  frm.ms.value = ms;
  frm.submit();
}
{% endblock %}

{% block content %}
<h1>Milestones</h1>

<div ex:role="view" ex:showAll="true" ex:ViewClass="Tabular"
  ex:columnLabels="Milestone"
  ex:columns=".label">
  <table>
    <tr>
      <td>
        <a ex:content=".label"
        ex:href-subcontent="{% url shipping.views.milestone.about  "{&#123;.code}}" %}"></a>
      </td>
      <td>
        <span ex:if=".status = 2">
          <input type="button" {% if not perms.shipping.can_ship %}
          disabled="disabled"{% endif %}
          value="tweak" />
          <span>
            <span ex:if=".status = 0">
              <input type="button" {% if not perms.shipping.can_open %}
              disabled="disabled"{% endif %}
              ex:onclick-subcontent="doForm('open','{&#123;.code}}')"
                value="open" />
	<span>
              <input type="button" {% if not perms.shipping.can_ship %}
              disabled="disabled"{% endif %}
              ex:onclick-subcontent="doForm('ship','{&#123;.code}}')"
              value="ship" />
              <input type="button" {% if not perms.shipping.can_ship %}
              disabled="disabled"{% endif %}
              ex:onclick-subcontent="doForm('drill','{&#123;.code}}')"
              value="drill" />
	</span>
            </span>
            <input type="button" {% if not perms.shipping.can_open %}
            disabled="disabled"{% endif %}
            ex:onclick-subcontent="doForm('clear','{&#123;.code}}')"
              value="clear" />
          </span>
       </span>
      </td>
    </tr>
  </table>
</div>
<div style="display:none">
  <form id="clear_ms" action="{% url shipping.views.clear_mstone %}"
  method="POST">
  <input type="hidden" name="ms" />
  </form>
  <form id="open_ms" action="{% url shipping.views.open_mstone %}"
  method="POST">
  <input type="hidden" name="ms" />
  </form>
  <form id="ship_ms" action="{% url shipping.views.confirm_ship_mstone %}"
  method="GET">
  <input type="hidden" name="ms" />
  </form>
  <form id="drill_ms" action="{% url shipping.views.confirm_drill_mstone %}"
  method="GET">
  <input type="hidden" name="ms" />
  </form>
</div>

{% endblock %}
