{% extends "shipping/base.html" %}

{% block title %}Signoff for {% if mstone %}{{mstone}}{% else %}{{appver}}{% endif %} {{locale.code}}{% endblock %}

{% block js_include %}
  <script type="text/javascript" src="{% url static path="jquery.js" %}"></script>
  <script type="text/javascript" src="{% url static path="jquery.ui/ui/ui.core.js" %}"></script>
  <script type="text/javascript" src="{% url static path="jquery.ui/ui/ui.dialog.js" %}"></script>
  <script type="text/javascript" src="{% url static path="ajaxarray.js" %}"></script>
  <script type="text/javascript" src="{% url static path="vptable.js" %}"></script>
  <script type="text/javascript" src="{% url static path="slider.js" %}"></script>
{% endblock %}

{% block style_include %}
  <link rel="stylesheet" href="{% url static path="jquery.ui/themes/base/ui.all.css" %}" type="text/css" media="all" />
{% endblock %}

{% block javascript %}

var pushes = Array()
var current = {{ current_js|safe}}
var slider = null
var curpos = null
var msstatus = {% if mstone %}{{ mstone.status }}{% else %}null{% endif %}


$(document).ready(function(){
  slider = Slider()
  slider.setUp($('.slider').get()[0], {{max_pushes}}, {{offset}}, sliderMove)

  var items = {{pushes.0|safe}};

  $("#dialog").dialog({
      bgiframe: true,
      modal: false,
      autoOpen: false,
      width: '320px',
      buttons: {
          Ok: function() {
              $('#id_comment').val($('.comment',this).val())
              $('#form_accept').submit()
              $(this).dialog('close');
          }
      }
  })

  pushes = jQuery.AjaxArray({
    'json_url': '{% url shipping.views.pushes_json %}?locale={{locale.code}}&{% if mstone %}mstone={{mstone.code}}{% else %}av={{appver.code}}{% endif %}&from=$1&to=$2',
    'length': {{max_pushes}},
  }, [items,{{pushes.1}},{{pushes.2}}])
  
  vpt = jQuery.vpTable($('#pushes').get(), {'items':pushes})
  vpt.draw({{offset}}, customizeRow)
  

  {% for note in notes %}
  {% ifnotequal note "error" %}
    setTimeout('$(".{{note}}").fadeOut("slow")', {% ifequal note "info" %}2000{% else %}{% ifequal note "warning" %}6000{% else %}15000{% endifequal %}{% endifequal %});
  {% endifnotequal %}
  {% endfor %}
 });

function sliderMove(cb) {
  var start = slider.status().start+slider.status().v
  vpt.draw(start, customizeRow, cb)
  return false
}

function stylePushes() {
  var v=30/{{max_pushes}}
  var o=slider.status().start+slider.status().v
  if (curpos===null)
    curpos = pushes.get_current()
  $('#pushes tr').each(function(i){
    $('td', this).each(function(j){
      j+=o
      with($(this)) {
        if (j==curpos) {
          addClass('current').addClass(current['class']);
        } else
          removeClass('current')
        css('background-color','rgb('+(225+parseInt(j*v))+','+(225+parseInt(j*v))+',255)')
        if (i==2) // signoff row
          $('a',this).css('color','rgb('+parseInt(34+j*v*2)+','+parseInt(34+j*v*2)+','+parseInt(153+j*v*2)+')')
        css('color','rgb('+parseInt(j*v*4)+','+parseInt(j*v*4)+','+parseInt(j*v*4)+')')
      }
    })
  })
}

var user = {{user_type}}

function handleReload(u) {
  if (msstatus==2)u=0;
  switch (u) {
    case 0:
      $('.signoff_button').hide()
      $('tr.accepted input').hide()
      break
    case 1:
      $('.signoff_button').show()
      $('tr.accepted input').hide()
      break
    case 2:
      $('.signoff_button').show()
      $('tr.accepted input').show()
      break
  }
  user = u
}


function customizeRow(table, attr, t, push) {
  var prev_date = table.attr('prev_date')||null
  switch (attr) {
    case 'date':
      if (!prev_date || prev_date != push['date']) {
        t.text(push[attr])
        table.attr('prev_date', push['date'])
      } else {
        t.html('&nbsp;').addClass('empty')
      }
      break
    case 'revision':
      t.html('<a href="'+(push['url'])+'">'+(push[attr])+'</a>')
      $('a',t).attr('title', push['revdesc']);
      break
    case 'signoff':
      if (push['signoff']) {
        t.html('<span/>')
        $('span',t).attr('title',current['comment'])
                   .text(current['when']+' '+current['author'])
      } else {
        t.empty()
        var input = document.createElement('input')
        $(input).attr('type', 'button')
                .val('Sign off')
                .attr('push_id', push['id'])
                .addClass('signoff_button')
                .addClass(user>0&&msstatus<2?'':'hidden')
                .click(onSignoff)
                .appendTo(t)
      }
      break
    case 'accepted':
      if (push['signoff']) {
        t.empty()
        switch (current.status) {
          case null:
            var buttons = {'Accept':'true','Refuse':'false'}
            break
          case false:
            var buttons = {'Accept':'true'}
            break
          case true:
            var buttons = {'Revoke':'false'}
            break
          default:
            var buttons = {}
            break
        }
        for (var i in buttons) {
          var input = document.createElement('input')
          $(input).attr('type', 'button')
                  .addClass(user>1&&msstatus<2?'':'hidden')
                  .attr('action', buttons[i])
                  .val(i).click(onAccept)
                  .appendTo(t)
        }
      } else {
        t.html('&nbsp;')
      }
      break
    case 'diff':
      var href = "{% url shipping.views.diff_app %}?tree={{mstone.appver.tree.code}}&locale={{locale.code}}&from={{accepted.push.tip.shortrev}}&repo={{accepted.push.repository.name}}&url={{accepted.push.repository.url}}&to=";
      if (push.revision != "{{accepted.push.tip.shortrev}}") {
        t.html('<a target="_blank">Diff</a>');
        t.children('a').attr('href', href + push.revision);
      }
    default:
      if (push[attr])
        t.text(push[attr])
  }
  return t
}

function getFirstRevision() {
  return $('#pushes tr.revision > td:first > a').text() 
}

function onAccept() {
  $('#id_accepted').val($(this).attr('action'))
  $('#id_first_row2').val(getFirstRevision())
  if ($(this).attr('action')=='true')
    $('#form_accept').submit()
  else
    $("#dialog").dialog('open');
}

function onSignoff() {
  $('#id_push').val($(this).attr('push_id'))
  $('#id_first_row').val(getFirstRevision())
  $('#form_signoff').submit()
}
{% endblock %}

{% block style %}

.pushes {
  width: 100%;
  height: 240px;
  border: 1px solid #bbd;
  border-collapse: collapse;
}

.pushes tr {
  margin: 0;
}

.pushes tr > td {
  border: 1px dotted #bbd;
  padding: 4px;
  width: 10%;
  height: 30px;
  margin: 0;
  font-size: 13px;
}

.pushes tr.signoff > td {
  font-size: 0.8em;
  height: 36px;
}

.pushes td.date {
  border-right: 0 !important;
}

.pushes td.empty {
  border: 0 !important;
}

.pushes tr.signoff td,
.pushes tr.accepted td {
  text-align: center;
}

.legend {
  display: inline;
  margin-top: 20px;
  margin-left: 10px;
}

.legend ul {
  list-style-type: none;
  margin: 0;
  padding:0;
}

.legend ul li {
  float: left;
  margin-left: 10px;
}

.legend .box {
  width: 20px;
  height: 10px;
  display: inline-block;
  border: 1px solid black;
}

.slider {
  float: right;
  margin-top: 10px;
  margin-right: 10px;
  text-align: center;
}

.slider .prev,
.slider .next {
  font-weight: bold;
  width: 20px;
}

.slider .prev,
.slider .next,
.slider .slide {
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  margin: 0;
  line-height: 15px;
  height: 20px;
  border: 1px solid #ccc;
  background-color: #eee;
}

.slider .slide {
  width: 100px;
  height: 18px;
  overflow: hidden;
}

.slider .slide .marker {
  width: 0px;
  height: 18px;
  background-color: #666;
}

.search {
  float: right;
  display: none;
}

#dialog {
  display: none;
  font-size: 0.8em;
}

#dialog  .comment {
  width: 300px;
  height: 60px;
}

.hidden {
  display: none;
}

.legend .box.accepted {background-color:#efe;}
.legend .box.refused {background-color:#ff0000;}
.legend .box.signedoff {background-color:#99ff99;}
.legend .box.paccepted {background-color: #dde;}

#pushes tr:not(.date) td.current {
  border: 1px solid #9a9 !important;
  background-color: #efe !important;
  color: black !important;
}
#pushes tr:not(.date) td.current.accepted {
 background-color: #99ff99 !important;
}
#pushes tr:not(.date) td.current.rejected {
 background-color: #ff0000 !important;
}
#pushes tr:not(.date) td.current.obsoleted {
 background-color: #cccccc !important;
}

{% if accepted %}
{% ifnotequal accepted.push.id current.push.id %}
#pushes tr:not(.date) td.item-{{ accepted.push.id }} {
  border: 1px solid #aac !important;
  background-color: #dde !important;
  color: black !important;
}
{% endifnotequal %}
{% endif %}
{% endblock %}

{% block content %}
<div class="nav">
  <a href="{% url shipping.views.dashboard %}?av={{appver.code}}">« all <i>{{appver}}</i> locales</a>
</div>
<p class="search">Search: <input type="text" size="10" id="search"></p>
{% if mstone %}
<h3>Signoff for {{mstone}} {{locale.code}}
{% else %}
<h3>Signoff for {{appver}} {{locale.code}}
{% endif %}
{% ifequal mstone.status 0%}(upcoming){% endifequal %}
{% ifequal mstone.status 1%}(open){% endifequal %}
{% ifequal mstone.status 2%}(shipped){% endifequal %}</h3>
<form action="" method="post" id="form_accept">
  <input type="hidden" id="id_comment" name="comment" />
  <input type="hidden" id="id_accepted" name="accepted" />
  <input type="hidden" id="id_first_row2" name="first_row" />
</form>
<form action="" method="post" id="form_signoff">
  <input type="hidden" id="id_push" name="push" />
  <input type="hidden" id="id_first_row" name="first_row" />
</form>

<table id="pushes" class="pushes">
  <tr class="date"></tr>
  <tr class="time"></tr>
  <tr class="revision"></tr>
  <tr class="user"></tr>
  <tr class="build"></tr>
  <tr class="compare"></tr>
  {% if current %}<tr class="diff"></tr>{% endif %}
  <tr class="signoff"></tr>
  <tr class="accepted"></tr>
</table>
<fieldset class="legend">
  <legend>Legend</legend>
  <ul>
  	<li><div class="box accepted"></div> - accepted</li>
  	<li><div class="box paccepted"></div> - previously accepted</li>
  	<li><div class="box refused"></div> - refused</li>
  	<li><div class="box signedoff"></div> - signed off</li>
  </ul>
</fieldset>
<div class="slider">
  <button class="prev">&lt;</button>
  <div class="slide">
    <div class="marker"></div>
  </div>
  <button class="next">&gt;</button>
</div>
<div id="dialog" title="Action comment">
    <p>
        You can add an optional action comment here.
        <br/>
        <textarea class="comment"></textarea>
    </p>
</div>
{% for id, note in notes.items %}
  <fieldset class="note {{ id }}">
    <legend>{{ id }}!</legend>
  {{ note|safe }}
  </fieldset>
{% endfor %}

{% endblock %}