{% extends "base.html" %}
<!-- {% comment %}
   - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/.
{% endcomment %} -->
{% block title_matter %}
    Oops! (Error 500)
{% endblock %}
{% block content %}
    <h1>Oops! Something went wrong...</h1>
    <p>...and we couldn't show you the page you requested. Sorry about that.</p>
    <p>If you wish to contact us about this error, feel free to send us an <a href="mailto:l10n@mozilla.com">e-mail</a> or ping us in <a href="irc://irc.mozilla.org/#elmo">#elmo</a>.</p>
    <h2>Feel like hacking?</h2>
    <p>If you'd like to help us prevent others from seeing pages like this one, check out the <a href="https://bugzilla.mozilla.org/buglist.cgi?o1=isnotempty&amp;f1=bug_mentor&amp;resolution=---&amp;query_format=advanced&amp;component=Elmo&product=Webtools>list of open bugs</a> that we think can introduce you well to our codebase. Thanks!</p>
{% endblock%}
