<!DOCTYPE html>
<!-- {% comment %}
   - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/.
{% endcomment %} -->

{% load compress %}
<html lang="{{ LANG }}" dir="{{ DIR }}">
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="{{ STATIC_URL }}img/favicon.ico" type="image/x-icon">
    {% compress css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" type="text/css">
    {% endcompress %}
    <style type="text/css">
    /* MetaWebPro font family licensed from fontshop.com. WOFF-FTW! */
    @font-face {
        font-family: 'MetaBold';
	src: url('{{ STATIC_URL }}fonts/MetaWebPro-Bold.eot');
	src: local('☺'), url('{{ STATIC_URL }}fonts/MetaWebPro-Bold.woff') format('woff');
        font-weight: bold;
   }
   </style>
<title>{% block title_matter %}{% endblock %}</title>
{% block head_matter %}{% endblock %}
</head>

<body {% block body_tag %}{% endblock %}>
<div id="wrapper">
		<nav>

			<div id="auth">
				{% include "accounts/user_forms.html" %}
				<noscript>Not logged in</noscript>
			</div>


			<ul>
				<li><a href="{% url homepage.views.index %}" class="homepage-link">Home</a></li>
				<li><a href="{% url homepage.views.teams %}">Teams</a></li>
				<li><a href="https://wiki.mozilla.org/L10n">Documentation</a></li>
				{% block extra_nav_list_items %}{% endblock %}

			</ul>

		</nav>

		<header>
			<h1>{% block header_h1 %}<a href="/" title="Back to home page">{% block header_h1_inner %}mozilla Localization{% endblock %}</a>{% endblock %}</h1>
            {% block header_content_extra %}
            {% endblock %}
		</header>
		<div id="body-content" class="{% block body_content_class %}page-standard{% endblock %}">
			<div id="main-content" class="{% block main_content_class %}{% endblock %}">
			{% block content %}{% endblock %}
			</div>
                        {% block aside %}{% endblock %}



		</div>
</div>
		<footer>
		    <p><img src="{{ STATIC_URL }}img/logo_footer.png" alt="Mozilla" /></p>
           <p>Except where otherwise <a href="http://www.mozilla.org/en-US/about/legal.html#site">noted</a>,
                content on this site is licensed under the <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution Share-Alike License v3.0</a> or any later version. </p>
                <p class="notices"><a href="{% url privacy.views.show_policy %}">Privacy Policy</a> | <a href="http://www.mozilla.org/en-US/about/legal.html">Legal Notices</a></p>
		</footer>

<script>
var CONFIG = {USER_URL: '{% url accounts.views.user_json %}',
              CURRENT_URL: {% if request %}'{{ request.get_full_path }}'{% else %}window.location.href{% endif %}, {# needed because of some lack of RequestContext #}
              LOADING_GIF_URL: '{{ STATIC_URL }}img/loading.gif',
              NEEDS_RELOAD: {% if login_form_needs_reload and request %}true{% else %} false{% endif %}
              };
</script>

{% compress js %}
<script src="{{ STATIC_URL }}js/libs/jquery-1.6.2.min.js"></script>
<script src="{{ STATIC_URL }}js/base.js"></script>
{% endcompress %}
{% block javascript_matter %}{% endblock %}

{% if include_webtrends %}
<script>
window.webtrendsAsyncInit=function(){
    var dcs=new Webtrends.dcs().init({
        dcsid:"dcsf7xfvtuz5bded1ux6dbh3k_4e3h"
        ,domain:"statse.webtrendslive.com"
        ,timezone:0
        ,plugins:{
            //hm:{src:"//s.webtrends.com/js/webtrends.hm.js"}
        }
        }).track();
};
(function(){
    var s=document.createElement("script"); s.async=true; s.src="{{ STATIC_URL }}js/libs/webtrends.min.js";
    var s2=document.getElementsByTagName("script")[0]; s2.parentNode.insertBefore(s,s2);
}());
</script>
<noscript><img alt="dcsimg" id="dcsimg" width="1" height="1" src="//statse.webtrendslive.com/dcsf7xfvtuz5bded1ux6dbh3k_4e3h/njs.gif?dcsuri=/nojavascript&amp;WT.js=No&amp;WT.tv=10.2.0&amp;dcssip=www.l10n.mozilla.org"/></noscript>
{% endif %}
	</body>
</html>
