<!DOCTYPE html>
<!-- {% comment %}
   - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/.
{% endcomment %} -->

{% load compress %}
{% load url from future %}
<html class="windows no-js" lang="{{ LANG }}" dir="{{ DIR }}">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block extra_meta %}{% endblock %}

        <title>{% block title_matter %}{% endblock %}</title>

        {% block favicon %}<link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico" />{% endblock %}
        <link rel="stylesheet" type="text/css" href="//mozorg.cdn.mozilla.net/media/css/tabzilla-min.css" media="screen" />

        <!--[if lte IE 8]>
        <script src="{{ STATIC_URL }}js/libs/html5shiv.js"></script>
        <![endif]-->

        {% compress css %}
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/sandstone-resp.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" />
        {% endcompress %}
        {% block site_css %}{% endblock %}

        {% block head_matter %}{% endblock %}
    </head>
    <!-- The four different themes of sandstone are, stone, sand, sky, space. Replace the class on the
         body tag below, with the theme you wish to use for your project -->
    <body {% block body_tag %}{% endblock %}>
        <div id="outer-wrapper">
            <div id="wrapper">

                {% block site_header %}
                <header id="masthead">
                    <a href="http://www.mozilla.org/" id="tabzilla">{{ _('Mozilla') }}</a>
                    <nav id="nav-main" role="menubar">
                        <span class="toggle" role="button" aria-controls="nav-main-menu" tabindex="0">{{ _('Menu') }}</span>
                        <ul role="menu" id="nav-main-menu">
                            <li role="menuitem"><a href="{% url 'homepage.views.teams' %}">{{_('Teams')}}</a></li>
                            <li role="menuitem"><a href="//wiki.mozilla.org/L10n">{{_('Docs')}}</a></li>
                            <li role="menuitem"><a href="//blog.mozilla.com/l10n">{{_('Blog')}}</a></li>
                            <li role="menuitem"><a href="//wiki.mozilla.org/L10n:Communication">{{_('Contact')}}</a></li>
                            <li role="menuitem"><a href="//wiki.mozilla.org/L10n:Contribute">{{_('Get Involved')}}</a></li>
                            <li role="menuitem"><div id="auth">{% include "accounts/user_forms.html" %}</div></li>
                            {% block extra_nav_list_items %}{% endblock %}
                        </ul>
                    </nav>

                    {% block site_header_logo %}
                    <h2><a href="{% url 'homepage.views.index' %}"><img src="{{ STATIC_URL }}img/mozilla-l10n-logo.png" alt="mozilla l10n"></a></h2>
                    {% endblock %}
                </header>
                {% endblock %}

                {% block alt_header %}{% endblock %}
                {% block breadcrumbs %}{% endblock %}
                {% block content %}{% endblock %}
                {% block aside %}{% endblock %}
            </div>

            {% block site_footer %}
            <footer id="colophon">
              <div class="row">
                  <div class="footer-logo">
                      <a href="http://mozilla.org"><img src="{{ STATIC_URL }}img/sandstone/footer-mozilla.png" alt="mozilla"></a>
                  </div>

                  <div class="footer-license">
                      <p>Except where otherwise <a href="http://www.mozilla.org/en-US/about/legal.html#site">noted</a>, content on this site is licensed under the <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution Share-Alike License v3.0</a> or any later version.</p>
                  </div>

                  <ul class="footer-nav">
                    <li><a href="{% url 'privacy.views.show_policy' %}">{{_('Privacy Policy')}}</a></li>
                    <li><a href="http://mozilla.org/about/legal.html">{{_('Legal Notices')}}</a></li>
                  </ul>
              </div>
            </footer>
            {% endblock %}
        </div>
        <script>
        var CONFIG = {USER_URL: '{% url 'accounts.views.user_json' %}',
                      CURRENT_URL: {% if request %}'{{ request.get_full_path }}'{% else %}window.location.href{% endif %}, {# needed because of some lack of RequestContext #}
                      LOADING_GIF_URL: '{{ STATIC_URL }}img/loading.gif',
                      NEEDS_RELOAD: {% if login_form_needs_reload and request %}true{% else %} false{% endif %}
                      };
        </script>

        {% block js %}
          <script src="{{ STATIC_URL }}js/libs/jquery-1.8.3.js"></script>
          <script src="//mozorg.cdn.mozilla.net/en-US/tabzilla/tabzilla.js"></script>
          {% compress js %}
            <script src="{{ STATIC_URL }}js/site.js"></script>
            <script src="{{ STATIC_URL }}js/base.js"></script>
          {% endcompress %}
        {% endblock %}
        {% block javascript_matter %}{% endblock %}

        {% if include_analytics %}
        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-35433268-7']);
          _gaq.push(['_trackPageview']);
          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>
        {% endif %}
    </body>
</html>
