{% extends "base.html" %}
<!-- {% comment %}
   - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/.
{% endcomment %} -->

{% block head_matter %}
<style type="text/css">
#webby_table {
    border-collapse: collapse;
    margin: 5px;
}
#webby_table td,
#webby_table th {
  border: 1px solid black;
  padding: 6px;
}

.requestee {
  font-size: 0.8em;
  color: #aaa;
}

.flag {
    text-align: center;
    font-size: 1.3em;
}

.flag.false {
  color: red;
}

.flag.true {
  color: green;
}

</style>
{% endblock %}


{% block content %}
<table id="webby_table">
<tr>
  <th>project</th>
  <th>description</th>
  <th>string count</th>
{% if perms.webby.change_weblocale %}
  <th>pending</th>
{% endif %}
</tr>
{% for project in projects %}
<tr>
  <td><a href="{% url webby.views.project slug=project.slug%}">{{ project.name  }}</td>
  <td>{{ project.description }}</td>
  <td>{{ project.string_count }}</td>
{% if perms.webby.change_weblocale %}
  <td>{{ project.pending_count }}</td>
{% endif %}
</tr>
{% endfor %}
</table>
{% endblock %}
