{% extends "base.html" %}
<!-- {% comment %}
   - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/.
{% endcomment %} -->
{% load compress %}
{% block title_matter %}Add new Privacy Policy{% endblock %}
{% block head_matter %}
{% compress css %}
<link rel="stylesheet" href="{{ STATIC_URL }}privacy/css/privacy.css" type="text/css">
{% endcompress %}
{% endblock %}

{% block javascript_matter %}
{% compress js %}
<script src="{{ STATIC_URL }}privacy/js/add.js"></script>
{% endcompress %}
{% endblock %}

{% block content %}

{% if perms.privacy.add_policy %}
<p>Editing new privacy policy:</p>
<p><em>Use HTML markup with &lt;h2>, &lt;p> &lt;p class="intro"> and
&lt;a></em></p>
<form name="editor" action="#" method="post">{% csrf_token %}
<table id="add">
  <tbody>
    <tr>
      <td rowspan="2">
        <textarea name="content" rows="30"
        cols="80">{{current}}</textarea>
        <p>Comment: <em>(required, HTML markup with &lt;p> and &lt;a>)</em></p>
        <textarea name="comment" rows="5" cols="80"></textarea>
      </td>
      <td id="preview">
        Preview: <em>Updates after 1 sec</em>
     </td>
    </tr>
    <tr>
      <td id="policy"></td>
    </tr>
    <tr>
      <td colspan="2" style="text-align:right">
        <input type="submit" value="Submit Policy" disabled>
      </td>
    </tr>
  </tbody>
</table>
</form>
{% else %}
Only priviledged users can create new privacy policies for this
site. Please <a href="{% url accounts.views.index %}">log in</a> with your LDAP credentials.
{% endif %}
{% endblock %}
