{% extends "base.html" %}
<!-- {% comment %}
   - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/.
{% endcomment %} -->
{% load compress %}
{% load staticfiles %}
{% load url from future %}

{% block title_matter %}Privacy Policy{% endblock %}
{% block head_matter %}
{% compress css %}
<link rel="stylesheet" href="{% static "privacy/css/privacy.css" %}" type="text/css">
{% endcompress %}
{% endblock %}

{% block content %}
{% if policy %}
{% if not policy.active %}
<p class="notice">This is not an active Privacy Policy for this
site.</p>
{% endif %}
<div id="policy">{{ policy.text|safe }}</div>
<p>{%if activation %}Active since {{activation|date}}. {% endif %}Check <a
href="{% url 'privacy.views.versions' %}">version history</a>.</p>
{% else %}
<p class="notice"><span>Policy not found, you may want to to check the <a
href="{% url 'privacy.views.versions' %}">version history</a>.</span></p>
{% endif %}
{% endblock %}
