{% extends "base.html" %}
<!-- {% comment %}
   - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/.
{% endcomment %} -->
{% load compress %}
{% load url from future %}

{% block title_matter %}Revision history of Privacy Policies{% endblock %}
{% block head_matter %}

{% compress css %}
<link rel="stylesheet" href="{{ STATIC_URL }}privacy/css/privacy.css" type="text/css">
{% endcompress %}

{% compress css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.ui/smoothness/jquery-ui-1.10.3.custom.css" type="text/css">
{% endcompress %}
{% endblock %}

{% block javascript_matter %}
<script src="{{ STATIC_URL }}js/jquery.ui/jquery-ui-1.10.3.custom.min.js"></script>
{% compress js %}
<script src="{{ STATIC_URL }}privacy/js/versions.js"></script>
{% endcompress %}
{% endblock %}

{% block content %}
<h1>Revision history of Privacy Policies</h1>

{% if perms.privacy.activate_policy %}
<form action="{% url 'privacy.views.activate_policy' %}" method="post">{% csrf_token %}
{% endif %}
<table id="policy_versions" class="standard">
  <thead>
    <tr>
      <th>Revision</th>
      <th>Creation time</th>
      <th>Active?</th>
      <th>Active time</th>{% if perms.privacy.add_comment %}
      <th></th>{% endif %}
      <th>Comments</th>
    </tr>
  </thead>
  <tbody>
{% for policy in policies %}
   <tr>
      <td rowspan="{{ policy.noc }}"><a href="{% url 'privacy.views.show_policy' id=policy.id %}">{{ policy.id }}</a></td>
      <td rowspan="{{ policy.noc }}">{{ policy.created|date }}</td>
{% if perms.privacy.activate_policy %}
      <td rowspan="{{ policy.noc }}"><input name="active" type="radio" value="{{ policy.id }}"{{ policy.active|yesno:" checked," }}></td>
{% else %}
      <td rowspan="{{ policy.noc }}">{{ policy.active|yesno:"Active," }}</td>
{% endif %}
      <td rowspan="{{ policy.noc }}">
  {% for span in policy.active_time %}
        <span>{{ span.0|date }}</span>{% if span.1 %}
        - <span>{{ span.1|date }}</span>{% endif %}{% if not forloop.last %}, {% endif %}
  {% endfor %}
      </td>
  {% if perms.privacy.add_comment %}<td rowspan="{{ policy.noc }}">
    <input type="button" value="comment&hellip;" class="add_comment" data-id="{{policy.id}}">
  </td>{% endif %}
  {% for comment in policy.comments.all %}
      <td title="{{comment.who}}">{{ comment.text|safe }}</td>
    </tr>
    {% if not forloop.last %}
    <tr>
    {% endif %}
  {% endfor %}
{% endfor %}
  </tbody>
</table>
{% if perms.privacy.add_policy %}
<p><input type="submit" value=" activate policy"></p>
</form>
<p id="add_policy">Create a <a href="{% url 'privacy.views.add_policy' %}">new privacy policy</a>.</p>
{% endif %}
{% if perms.privacy.add_comment %}
<div id="add-comment" title="Comment on policy">
  <p>Enter a comment on policy <span id="policy-id"></span> with HTML markup.</p>
  <form name="post_comment" action="{% url 'privacy.views.add_comment' %}" method="post">{% csrf_token %}
  <textarea name="comment" rows="10" cols="40"></textarea>
  <div style="display:none"><input type="hidden" name="policy"></div>
  </form>
</div>
{% endif %}
{% endblock %}
