{% extends "base.html" %}
<!-- {% comment %}
   - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/.
{% endcomment %} -->
{% load compress %}
{% load staticfiles %}

{% block title_matter %}L10n Bug helper{% endblock %}
{% block head_matter %}
<link rel="exhibit-data" type="x-bugzilla-components"
      href="https://bugzilla.mozilla.org/rest/product/Mozilla%20Localizations?include_fields=components.name">
{% compress css %}
<link rel="stylesheet" href="{% static "bugsy/css/file-bugs.css" %}" type="text/css">
{% endcompress %}

{% endblock %}

{% block javascript_matter %}
<script>
var BUG_LINKS_URL = '{% url "get-bug-links" %}';
</script>
<script src="{% static "simile/exhibit/exhibit-api.js" %}?persist=false"></script>
{% compress js %}
<script src="{% static "bugsy/js/file_bug.js" %}"></script>
{% endcompress %}
{% endblock %}
{% block content %}
<div id="blds" data-ex-role="exhibit-collection" data-ex-item-types="Component"></div>
  <table class="standard standard-borderless">
      <tr>
         <td>
           <form name="bugdata">
           <input type="hidden" name="product" value="Mozilla Localizations">
           <input type="hidden" name="component" value="Other">
           <input type="hidden" name="op_sys" value="All">
           <input type="hidden" name="rep_platform" value="All">
           <table id="bugdetails">
             <tr>
               <td class="b_desc"><u>S</u>ummary:</td>
               <td><input name="short_desc" size="80" accesskey="s"
                 value="[{% templatetag openvariable %} loc }}] {% templatetag openvariable %} locale }}"></td>
             </tr>
             <tr>
               <td class="b_desc">C<u>o</u>mment:</td>
               <td>
                 <textarea name="comment" cols="80" rows="10"
                           accesskey="o"></textarea>
               </td>
             </tr>
             <tr id="show-extra-fields">
               <td colspan="2"><small>&darr; show additional fields</small></td>
             </tr>
             <tr class="extra-field">
               <td class="b_desc"><u>C</u>C:</td>
               <td><input name="cc" size="80" accesskey="c"></td>
             </tr>
             <tr class="extra-field">
               <td class="b_desc">Blocks:</td>
               <td><input name="blocked" size="80"></td>
             </tr>
             <tr class="extra-field">
               <td class="b_desc">Depends:</td>
               <td><input name="dependson" size="80"></td>
             </tr>
             <tr class="extra-field">
               <td class="b_desc">Keywords:</td>
               <td><input name="keywords" size="80"></td>
             </tr>
             <tr class="extra-field">
               <td class="b_desc">Whiteboard:</td>
               <td><input name="status_whiteboard" size="80"></td>
             </tr>
             <tr class="extra-field">
               <td class="b_desc">Alias:</td>
               <td><input name="alias" size="80"></td>
             </tr>
             <tr class="extra-field">
               <td class="b_desc">Url:</td>
               <td><input name="bug_file_loc" size="80" placeholder="https://"></td>
             </tr>
             <tr>
               <td></td>
               <td>
                  <input type="button" value="one bug per l10n"
                         style="float:right;"
                         onclick="return getBugLinks();">
               </td>
             </tr>
           </table>
           </form>
           <p id="linkpane"></p>
          </td>
          <td>
        <div data-ex-role="facet" data-ex-expression=".label"
          data-ex-facet-label="Components"></div>
        <div data-ex-role="facet" data-ex-facet-class="TextSearch"
          data-ex-expressions=".label"
          data-ex-facet-label="Search"></div>
         </td>
       </tr>
  </table>
{% endblock %}
