{% extends "base.html" %}
<!-- {% comment %}
   - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/.
{% endcomment %} -->
{% load simile %}
{% load compress %}
{% load url from future %}
{% block title_matter %}Localization bugs{% endblock %}
{% block head_matter %}
{% exhibit %}
{% endblock %}

{% block javascript_matter %}
{% compress js %}
<script src="{{ STATIC_URL }}bugsy/js/index.js"></script>
{% endcompress %}
{% endblock %}
{% block content %}
<h1>Localization bugs</h1>
<p id="nob_div">There are currently <a href="https://bugzilla.mozilla.org/buglist.cgi?field0-0-0=component;resolution=---;type0-0-0=regexp;value0-0-0=^[a-z]{2%2C3}[%20\-];field0-0-1=product;type0-0-1=equals;value0-0-1=Mozilla%20Localizations"><span
id="nob">?</span></a> open Mozilla Localization bugs in <span
id="noc">?</span> components.</div>
<div style="width:10em;">
  <em>Search:</em>
  <div ex:role="facet"
   ex:facetClass="TextSearch"
   ex:expressions=".label">
  </div>
</div>
<div ex:role="view" ex:viewClass="Tabular" style="margin-right:11em;"
  ex:showToolbox="false" ex:showSummary="false"
  ex:paginate="true" ex:pagingControlLocations="bottom" ex:pageSize="10"
  ex:cellSpacing="0" sortColumn="1" sortAscending="false"
  ex:columns=".label, .count" ex:columnLabels="Component, Bugs">
  <table class="standard">
    <tr>
      <td><a target="_blank"
        ex:href-subcontent="https://bugzilla.mozilla.org/buglist.cgi?field0-0-0=component;type0-0-0=regexp;value0-0-0=^{&#123.locale}}%20/;field0-;field0-0-1=cf_locale;type0-0-1=regexp;value0-0-1=^{&#123.locale}}%20/&resolution=---&columnlist=assigned_to%2Cshort_desc%2Cchangeddate"
        ex:content=".label"></a></td>
        <td ex:content=".count"></td>
    </tr>
  </table>
</div>

<div>You can file a suite of bugs for a set of localizations with the
  <a href="{% url 'bugsy.views.file_bugs' %}">bug helper</a>.</div>
{% endblock %}
