{% extends "base.html" %}
<!-- {% comment %}
   - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/.
{% endcomment %} -->
{% load compress %}
{% load url from future %}
{% block title_matter %}Bugs for a new localization{% endblock %}
{% block head_matter %}
<style type="text/css">
#account {
  position:fixed;
  bottom:0;
  right:0;
  width:300px;
  height:100px;
  border:1px solid black
}
</style>
{% endblock %}
{% block javascript_matter %}
<script>
var NEW_LOCALE_URL = '{% url "bugsy.views.new_locale_bugs" %}';
</script>
{% compress js %}
<script src="{{ STATIC_URL }}bugsy/js/new_locale.js"></script>
{% endcompress %}
{% endblock %}
{% block content %}
<h1>File bugs for a new localization</h1>
<form name="bugdata">
<table>
  <tr>
    <td>Locale:</td>
    <td><input name="loc" value=""></td>
  </tr>
  <tr>
    <td>Language:</td>
    <td><input name="language" value=""></td>
  </tr>
  <tr>
    <td>Component:</td>
    <td><input name="component" value="Other"></td>
  </tr>
  <tr>
    <td>Name:</td>
    <td><input name="name" value=""></td>
  </tr>
  <tr>
    <td>Bugzilla ID:</td>
    <td><input name="bugmail" value=""></td>
  </tr>
  <tr>
    <td>Application:</td>
    <td>
      <select name="app" size="1">
	<option value="fx">Firefox</option>
	<option value="fennec">Fennec</option>
      </select>
    </td>
  </tr>
  <tr>
    <td>Version:</td>
    <td><input name="version" value="4.0"></td>
  </tr>
</table>
</form>
<p>
<input type="button" onclick="return doBugs()"
                value="Create Buglinks">
</p>
<h3>User permissions to check for <code>edit_bugs</code></h3>
<p id="users"></p>
<h3>Bugs to file</h3>
<p id="links"></p>
{% endblock %}
