<!-- {% comment %}
   - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/.
{% endcomment %} -->

<div id="bugzilla">
  <h2>Bugzilla  <a href="#bugzilla" class="permalink">#</a></h2>
  <p>Mozilla is using bugs in Bugzilla to track the development
  and progress of our projects.</p>

  <div class="loaded" style="display:none">
    <p>There are
    <a href="{{ bugs_url }}"><span class="bug-count">?</span> open bugs </a>
    specific to {{ locale.name }}.
    <span class="table-pre-header" style="display:none">
    Here are a few open bugs that changed recently:
    </span>
    </p>

    <table class="standard recent-bugs trees" style="display:none">
      <thead>
        <tr>
          <th>ID</th>
          <th>Summary</th>
          <th>Last Changed</th>
          <th>Filed</th>
        </tr>
      </thead>
    </table>
  </div>

  <div class="loading" style="display:none">
    <p><em>Please wait, loading bugs...</em></p>
  </div>

  <div class="failed" style="display:none">
    <p><em><strong>Sorry.</strong><br>
       Unable to load the bugs. Try reloading a little later.</em></p>
  </div>

</div>
